<div class="new-group">
  <h2>Create Group</h2>
  <ng2-md-datatable>    
    <tbody>
      <ng2-md-datatable-row> 
        <td> Name : </td>
        <td>
          <md-input-container class="name">
            <input required mdInput [(ngModel)]="name">   
          </md-input-container>
        </td>
      </ng2-md-datatable-row>
    </tbody>
    </ng2-md-datatable>
    <div class="buttons">
      <button md-raised-button (click)="save()">Save</button>
      <button md-raised-button (click)="cancel()">Cancel</button>
    </div>  
</div>