.carousel {
  overflow: hidden;
  width: 100%;
  img {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}

.slides {
  list-style: none;
  position: relative;
  width: 1200%; /* Number of panes * 100% */
  overflow: hidden; /* Clear floats */

  /* Slide effect Animations*/
  -moz-animation: carousel 50s infinite;
  -webkit-animation: carousel 50s infinite;
  animation: carousel 50s infinite;

  li {
    position: relative;
    float: left;
    width: 8.3%; /* 100 / number of panes */
  }
}

@keyframes carousel{
  0%      { left: -10%; }
  8.3%    { left: -110%; }
  16.6%   { left: -210%; }
  24.9%   { left: -310%; }
  33.2%   { left: -410%; }
  41.5%   { left: -509%; }
  49.8%   { left: -609%; }
  58.1%   { left: -708%; }
  66.4%   { left: -807%; }
  74.7%   { left: -906%; }
  83.0%   { left: -1006%; }
  91.3%   { left: -1103%; }
  100.0%  { left: -1204%; }
}
