$black-text: #303132;
$blue-text: #8ab9d6;
.dashboard-main {
  display: flex;
  flex-flow: column nowrap;
  md-card {
    margin: 10px;
    width : 400px;
    .card-header {
      background-color: #dbe2e4;
      h3 {
        margin: 0;
        float: left;
        font-family: "Avenir-Heavy", sans-serif;
        color: $black-text;
      }
      button {
        float: right;
        margin-right: 10px;
        margin-left: 10px;
        font-family: "Avenir-Med", sans-serif;
      }
      margin-bottom: 60px;
    }
  }
}
