$black-text: #303132;
$blue-text: #8ab9d6;
.dashboard-main {
  mat-card {
    width: 40%;
    min-width: 400px;
    margin: 10px;

    .locations:hover {
      cursor: pointer;
      background-color: #efefef;
    }
  }
  ng2-mat-datatable-header {
    font-weight: bold;
    border-bottom: solid 1px #303030;
  }
  tr {
    border-bottom: solid 1px #e3e3e3;
  }
  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
