<div class="dashboard">

  <md-toolbar>
    <md-icon (click)="sidenav.toggle()">menu</md-icon>
    
    <div class="toolbar-content">
      <div class="logo"></div>
      <div class="logo-text">{{title}} </div>
      <button md-button routerLink="/home/admin" >Admin Page</button>
      <button md-button [mdMenuTriggerFor]="menu">{{username}}</button>
      <md-menu #menu="mdMenu">
        <a md-menu-item routerLink="/home/mydevices">My Devices</a>
        <a md-menu-item routerLink="/home/mygroups">My Groups</a>
        <a md-menu-item routerLink="/home/mylocations">My Locations</a>  
        <a md-menu-item routerLink="/home/myservices">My Services</a>    
        <a button md-menu-item [href]="logout_url" routerLinkActive="active">Logout</a>
      </md-menu>

    </div>
  </md-toolbar>

  <md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="true">
      <!-- sidenav content -->
      <!-- Sidenav Buttons -->
      <div class="sidenav-button">
        <a routerLink="/home"><p>Dashboard</p><md-icon>home</md-icon></a>
        <a routerLink="/home/devicetemplates"><p>Device Templates</p><md-icon>description</md-icon></a>
        <a routerLink="/home/services"><p>Services</p><md-icon>settings</md-icon></a>
        <!-- Location Tree -->
        <div *ngIf="rootLocation">
          <tree-node
            [currentLocation]="rootLocation"
            (change)="deviceList($event)"
            (newLocationParent)="newLocation($event)"></tree-node>
        </div>
      </div>

    </md-sidenav>
    <div class="page-content">
      <!-- Child Router -->
      <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>

</div>
