$black-text: #303132;
$row-height: 50px;
$device-color: #3a7193;

.infra-service-devicelist {
  mat-card {
    box-shadow: none;
    .card-header {
      h2 {
        margin: 0;
        float: left;
        font-family: "Avenir-Heavy", sans-serif;
        color: $black-text;
      }
      button {
        float: right;
      }
      margin-bottom: 60px;
    }
    hr {
      margin: 0;
    }
    thead {
      border-bottom: solid 1px #909090;
      font-weight:bold;
    }
    tr {
      cursor: pointer;
      border-top: solid 1px #e3e3e3;
      border-bottom: solid 1px #e3e3e3;
    }
    tr:hover {
      background-color: #e3e3e3;
    }
    .devices {
      height: $row-height;
      line-height: $row-height;
      cursor: pointer;
      border-bottom: solid 1px #606060;
      font-family: "Avenir-Med", sans-serif;
      color: $device-color;
    }
    .devices:hover {
      background-color: #efefef;
    }
  }
}
