<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>OpenChirp</title>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/typescript/2.0.2/typescript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zone.js/0.6.23/zone.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.38/system.js"></script>-->

<!-- <script src="systemjs.config.js"></script>-->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!--start of mat layout-->
<div class="layout-container">
  <div class="full-layout">

    <!--drawer-->
    <mdc-drawer drawer="modal" class="openchirp-drawer" #sidenav closed>
      <mdc-drawer-content>
        <nav class="mdc-list">
          <a class="drawer-navigation-link mdc-list-item" href="#about">About</a>
          <a class="drawer-navigation-link mdc-list-item" href="#how">How it Works</a>
          <a class="drawer-navigation-link mdc-list-item" href="#technology">Technology</a>
          <a class="drawer-navigation-link mdc-list-item" href="#gallery">Gallery</a>
          <a class="drawer-navigation-link mdc-list-item" href="http://community.openchirp.io/">Community</a>
          <a class="drawer-navigation-link mdc-list-item" href="https://github.com/OpenChirp/docs/wiki">Get Started</a>
        </nav>
      </mdc-drawer-content>
    </mdc-drawer>
    <!--drawer end-->


    <mdc-top-app-bar #topbar [fixed]="true" [short]="false" [fixedAdjustElement]="maincontent">
      <mdc-top-app-bar-row>
        <mdc-top-app-bar-section align="start">
          <mdc-icon mdcTopAppBarNavIcon (click)="sidenav.open = !sidenav.open">menu</mdc-icon>
          <mdc-top-app-bar-title><img class="openchirp-logo-image" src="assets/images/logo_with_text.png">
        </mdc-top-app-bar-title>
        </mdc-top-app-bar-section>
        <mdc-top-app-bar-section align="end">
          <!-- Navigation. We hide it in small screens. -->
          <nav class="openchirp-navigation">
            <a class="navigation_link" href="http://community.openchirp.io/">Community</a>
            <a class="navigation_link" href="https://github.com/OpenChirp/docs/wiki">Docs</a>
            <a class="navigation_link navigation_button" (click)="loginPopup()" *ngIf="!logged_in">Login</a>
            <a class="navigation_link navigation_button" routerLink="/home" routerLinkActive="active" *ngIf="logged_in">Home</a>
          </nav>
        </mdc-top-app-bar-section>
      </mdc-top-app-bar-row>
    </mdc-top-app-bar>
    <!--end of layout header-->
    <div class="maincontent" #maincontent>
      <!--Content Goes Here-->

      <!-- Main Background Image and Text -->
      <div class="openchirp-intro-section">
        <div class="logo-font openchirp-slogan">An Open Source Platform for IoT with support for LoRaWAN</div>
        <div class="logo-font openchirp-sub-slogan"></div>
      </div>

      <!-- ABOUT Section -->
      <div class="openchirp-regular-section">
        <div class="openchirp-spacer"></div>
        <a name="about"></a>
        <div class="openchirp-section-name font-light">
          ABOUT
        </div>
        <h1 class="openchirp-section-title" mdcHeadline4>What is OpenChirp?</h1>
        <p class="font-light sub-head">
          OpenChirp is a management framework for Low-Power Wide-Area Networks (LP-WAN) that provides data context, storage, visualization, and access control over the web.
          OpenChirp is currently powering a hosted LoRaWAN Network at Carnegie Mellon University that also spans large portions of the City of Pittsburgh.
          You can easily and freely add devices or LoRa gateways to our hosted network or spawn your own stand-alone instances.
          OpenChirp is tailored towards LoRaWAN, but supports any device capable of REST and/or MQTT networking.
        </p>


        <div class="openchirp-card-container" fxLayout='row' fxLayout.lt-sm="column">
          <div class="openchirp-card mdc-card" fxFlex="33">
            <div class="mdc-card__media">
              <img src="assets/images/about-iot.png" width="71px" height="72px">
            </div>
            <div class="mdc-card__title">
              <h2 class="mdc-card__title-text">Your IoT Project</h2>
            </div>
            <div class="mdc-card__supporting-text">
              <span class="mdl-typography--subhead mdl-typography--font-light">Free, No Strings Attached, Secure, Battery Operated, Wireless Networking for your IoT project</span>
            </div>
          </div>

          <div class="openchirp-card mdc-card" fxFlex="33">
            <div class="mdc-card__media">
              <img src="assets/images/about-community.png" width="54px" height="57px">
            </div>
            <div class="mdc-card__title">
              <h2 class="mdc-card__title-text">Community-driven</h2>
            </div>
            <div class="mdc-card__supporting-text">
              <span class="mdl-typography--subhead mdl-typography--font-light">Anyone with a Google account can add gateways or devices</span>
            </div>
          </div>

          <div class="openchirp-card mdc-card" fxFlex="33">
            <div class="mdc-card__media">
              <img src="assets/images/about-empowering.png" width="43px" height="46px">
            </div>
            <div class="mdc-card__title">
              <h2 class="mdc-card__title-text">Empowering All</h2>
            </div>
            <div class="mdc-card__supporting-text">
              <span class="mdl-typography--subhead mdl-typography--font-light">Empower researchers, hobbyists, and citizen scientists</span>
            </div>
          </div>
        </div>
      </div>

      <!--Gateways Location Map-->
      <div class="openchirp-regular-section">
        <a name="about"></a>
        <div class="openchirp-section-name font-light map-location-name">
          MAP
        </div>
        <div class="openchirp-spacer"></div>
        <iframe [src]="splash_map_src" name="frame1" scrolling="no"
                frameborder="no" align="center" height="350px" width="100%"></iframe>
      </div>

      <!-- HOW Section -->
      <div class="openchirp-regular-section openchirp-how-section">
        <a name="how"></a>
        <div class="openchirp-section-name font-light">
          HOW
        </div>

        <div class="openchirp-spacer"></div>

        <div class="openchirp-section-title">How it Works</div>
        <ul class="demo-list-icon mdc-list">
          <li class="mdc-list-item">
            <span class="mdc-list-item-primary-content ">
                  <img src="assets/images/1.png" width="41px" height="41px" class="openchirp-numbereditem">Get a LoRaWAN compatible device
                </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item-primary-content">
                  <img src="assets/images/2.png" width="41px" height="41px" class="openchirp-numbereditem">Log into OpenChirp with your Google account
                </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item-primary-content">
                  <img src="assets/images/3.png" width="41px" height="41px" class="openchirp-numbereditem">Register your device
                </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item-primary-content">
                  <img src="assets/images/4.png" width="41px" height="41px" class="openchirp-numbereditem">Start collecting data
                </span>
          </li>
        </ul>
      </div>

      <!-- Tecnology Section -->
      <div class="openchirp-regular-section">
        <a name="technology"></a>
        <div class="openchirp-section-name font-light">
          TECHNOLOGY
        </div>

        <div class="openchirp-spacer"></div>

        <div class="openchirp-card-container" fxLayout='row wrap'>

          <div class="openchirp-card-tech" fxFlex="25" fxFlex.lt-sm="50">
            <div class="mdc-card__media">
              <img src="assets/images/cloud-icon.png" width="52px" height="52px">
            </div>
            <div class="mdc-card__supporting-text">
              <span class=" sub-head font-light">MQTT for scalable real-time<br>publish subscribe</span>
            </div>
          </div>

          <div class="openchirp-card-tech" fxFlex="25" fxFlex.lt-sm="50">
            <div class="mdc-card__media">
              <img src="assets/images/rest-icon.png" width="52px" height="52px">
            </div>
            <div class="mdc-card__supporting-text">
              <span class=" sub-head font-light">REST interface for<br>configuration and<br>management</span>
            </div>
          </div>


          <div class="openchirp-card-tech" fxFlex="25" fxFlex.lt-sm="50">
            <div class="mdc-card__media">
              <img src="assets/images/db-icon.png" width="52px" height="52px">
            </div>
            <div class="mdc-card__supporting-text">
              <span class=" sub-head font-light">Time series data storage<br>and visualization</span>
            </div>
          </div>


          <div class="openchirp-card-tech" fxFlex="25" fxFlex.lt-sm="50">
            <div class="mdc-card__media">
              <img src="assets/images/intelligent-icon.png" width="52px" height="52px">
            </div>
            <div class="mdc-card__supporting-text">
            <span
              class=" sub-head font-light">Intelligent LP-WAN<br>nework management</span>
            </div>
          </div>


          <div class="openchirp-card-tech" fxFlex="25" fxFlex.lt-sm="50">
            <div class="mdc-card__media">
              <img src="assets/images/open-icon.png" width="52px" height="52px">
            </div>
            <div class="mdc-card__supporting-text">
              <span class=" sub-head font-light">Connect your own gateway<br>to expand the network</span>
            </div>
          </div>

          <div class="openchirp-card-tech" fxFlex="25" fxFlex.lt-sm="50">
            <div class="mdc-card__media">
              <img src="assets/images/protobuf-icon.png" width="52px" height="52px">
            </div>
            <div class="mdc-card__supporting-text">
              <span class=" sub-head font-light">ProtoBuf serialization from<br>end-device to cloud</span>
            </div>
          </div>

          <div class="openchirp-card-tech" fxFlex="25" fxFlex.lt-sm="50">
            <div class="mdc-card__media">
              <img src="assets/images/battery-icon.png" width="52px" height="52px">
            </div>
            <div class="mdc-card__supporting-text">
              <span class=" sub-head font-light">Energy-efficient client<br>firmware for your end-device</span>
            </div>
          </div>

          <div class="openchirp-card-tech" fxFlex="25" fxFlex.lt-sm="50">
            <div class="mdc-card__media">
              <img src="assets/images/lock-icon.png" width="52px" height="52px">
            </div>
            <div class="mdc-card__supporting-text">
              <span class=" sub-head font-light">Device, user and API tokens<br>with access control</span>
            </div>
          </div>


        </div>
      </div>

      <!-- Gallery Section -->
      <div class="openchirp-regular-section gallery-section">
        <a name="gallery"></a>
        <div class="openchirp-section-name font-light">
          GALLERY
        </div>
        <div class="openchirp-spacer"></div>


        <div class="openchirp-img-container" fxLayout='row wrap'>
          <div class="gallery-card" fxFlex="33" fxFlex.lt-sm="50">
              <img src="assets/images/gallery/9.jpg" />
          </div>
          <div class="gallery-card" fxFlex="33" fxFlex.lt-sm="50">
              <img mdcImageListImage src="assets/images/gallery/11.jpg" />
          </div>
          <div class="gallery-card" fxFlex="33" fxFlex.lt-sm="50">
              <img mdcImageListImage src="assets/images/gallery/4.jpg" />
          </div>
          <div class="gallery-card" fxFlex="33" fxFlex.lt-sm="50">
              <img mdcImageListImage src="assets/images/gallery/5.jpg" />
          </div>
          <div class="gallery-card" fxFlex="33" fxFlex.lt-sm="50">
              <img mdcImageListImage src="assets/images/gallery/6.jpg" />
          </div>
          <div class="gallery-card" fxFlex="33" fxFlex.lt-sm="50">
              <img mdcImageListImage src="assets/images/gallery/8.jpg" />
          </div>
        </div>
      </div>


      <!--Get Involved-->
      <div class="openchirp-regular-section get-involved openchirp-last-section">
        <a name="get_involved"></a>
        <div class="openchirp-section-name font-light">GET INVOLVED</div>

        <ul class="demo-list-icon mdc-list">
          <li class="mdc-list-item">

            <span class="mdc-list-item-primary-content">
                  <img src="assets/images/1.png" width="41px" height="41px" class="openchirp-numbereditem">
                  <span class="openchirp-numbereditem" font-size="16px">Contact us at <a
                    href="mailto:info@openchirp.io">info@openchirp.io</a></span>
            </span>
          </li>

          <li class="mdc-list-item">
            <span class="mdc-list-item-primary-content">
                  <img src="assets/images/2.png" width="41px" height="41px" class="openchirp-numbereditem">
                  <span class="openchirp-numbereditem" font-size="16px">Visit our <a
                    href="https://github.com/OpenChirp">GitHub page</a></span>
            </span>
          </li>

          <li class="mdc-list-item">
            <span class="mdc-list-item-primary-content">
                  <img src="assets/images/3.png" width="41px" height="41px" class="openchirp-numbereditem">
                  <span class="openchirp-numbereditem" font-size="16px">Ask questions on our <a
                    href="http://community.openchirp.io">Community Forum</a></span>
            </span>
          </li>

          <li class="mdc-list-item">
            <span class="mdc-list-item-primary-content">
                  <img src="assets/images/4.png" width="41px" height="41px" class="openchirp-numbereditem">
                  <span class="openchirp-numbereditem" font-size="16px">Read our <a
                    href="https://github.com/OpenChirp/docs/wiki">Documentation</a></span>
            </span>
          </li>

        </ul>
      </div>


      <!--Footer-->
      <footer class="openchirp-footer">
        <div fxLayout='row wrap'>
          <div class="openchirp-footer-cards"  fxFlex="20" fxFlex.lt-md="50" fxFlex.lt-sm="100">
            <a href="http://www.bosch.us/content/language1/html/rtc.htm"><img src="assets/images/bosch-logo.svg"
                                                                              height="55px"></a>
          </div>
          <div class="openchirp-footer-cards"  fxFlex="20" fxFlex.lt-md="50" fxFlex.lt-sm="100">
            <a href="https://www.cylab.cmu.edu/"><img src="assets/images/cylab-logo.png" height="70px"></a>
          </div>
          <div class="openchirp-footer-cards"  fxFlex="20" fxFlex.lt-md="50" fxFlex.lt-sm="100">
            <a href="http://www.cmu.edu/"><img src="assets/images/cmu-logo.svg" height="55px"></a>
          </div>
          <div class="openchirp-footer-cards"  fxFlex="20" fxFlex.lt-md="50" fxFlex.lt-sm="100">
             <a href="https://www.ece.cmu.edu/"><img src="assets/images/ece-logo.svg" height="55px"></a>
          </div>
          <div class="openchirp-footer-cards"  fxFlex="20" fxFlex.lt-md="50" fxFlex.lt-sm="100">
               <a href="http://wise.ece.cmu.edu/"><img src="assets/images/wiselab-logo.svg" height="55px"></a>
           </div>
        </div>

        <div>
          <p class="font-light">OpenChirp © Copyright 2017-2018 Carnegie Mellon University | <a
            target="_blank" href="https://www.cmu.edu/legal/">Legal</a></p>
        </div>




      </footer>
      <!--Footer Ends Here-->


    </div>
    <!--Content Ends Here-->

  </div>
</div>
<!--end of layout-->

