<div class="splash-page">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>OpenChirp</title>

  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/typescript/2.0.2/typescript.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/zone.js/0.6.23/zone.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.38/system.js"></script>-->

 <!-- <script src="systemjs.config.js"></script>-->

          <a class="mdl-button mdl-js-button" (click)="loginPopup()" *ngIf="!logged_in">Login</a>



</div>
