<div class="splash-page">
  <!-- Toolbar -->
  <md-toolbar [ngClass]="{'pre-scroll': !isScrolled, 'post-scroll': isScrolled}">
    <a routerLink="/">
      <div class="logo-section">
        <span class="logo-text">
          <h3>{{title}}</h3>
        </span>
      </div>
    </a>
    <span class="spacer"></span>
    <div class="title-buttons">
      <a href="#about" md-button>About</a>
      <a href="#howitworks" md-button>How It Works</a>
      <a href="#technology" md-button>Technology</a>
      <a href="#gallery" md-button>Gallery</a>
       <a href="https://openchirp.github.io/api_doc" md-button>Docs</a>
      <a md-raised-button class="login" [href]="login_url" routerLinkActive="active" *ngIf="!logged_in">Login</a>
      <a md-raised-button class="login" routerLink="/home" routerLinkActive="active" *ngIf="logged_in">Home</a>
    </div>
    <div class="title-buttons-phone">
      <a md-raised-button class="login" [href]="login_url" routerLinkActive="active" *ngIf="!logged_in">Login</a>
      <a md-raised-button class="login" routerLink="/home" routerLinkActive="active" *ngIf="logged_in">Home</a>
    </div>
  </md-toolbar>
  <!-- Page content -->
  <div class="page-wrap">
    <!-- Splash Page Section -->
    <div class="picture-section">
      <div class="picture-section-text">
        <h3>Low-Power and Community-Driven<br> Wireless Connectivity for IoT</h3>
      </div>
    </div>
    <!--About Section-->
    <div id="about"></div>
    <div class="about-section">
      <div class="wrapper">
        <div class="section-text-line-left">
          <h4>About</h4>
        </div>
        <h1>What is OpenChirp?</h1>
        <div class="what-is-text">
          <p align="center">
            OpenChirp is a management layer on top of LoRaWAN that provides <br>
            data context, storage, visualization, and access control over the web. <br>
            OpenChirp is currently powering a LoRaWAN Network at CMU that <br>
            also spans most of the City of Pittsburgh. You can expand the OpenChirp <br>
            network by using our software to connect your own LoRa base station.
          </p>
        </div>
        <h1>Our Goals</h1>
      </div>
    </div>
    <div class="wrapper">
      <div class="flex-container">

        <div class="whatis-col">
          <div class="iot-project"></div>
          <div class="whatis-text">
            <p>
              <strong>Your IoT Project</strong>
            </p>
            <p>
              Contract-free, Secure, <br>
              Battery Operated, Wireless <br>
              Networking for your<br>
              IoT project
            </p>
          </div>
        </div>
        <div class="whatis-col">
          <div class="community-driven"></div>
          <div class="whatis-text">
            <p>
              <strong> Community-driven </strong>
            </p>
            <p>
              Create an open <br>
              community-driven <br>
              Network
            </p>
          </div>
        </div>
        <div class="whatis-col">
          <div class="empowering"></div>
          <div class="whatis-text">
            <p><strong>Empowering All</strong></p>
            <p>
              Empower researchers, <br>
              hobbyists, and citizen <br>
              scientists
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--How it Works-->
    <div id="howitworks"></div>
    <div class="how-it-works">
      <div class="section-text-line-right">
        <h4>How it Works</h4>
      </div>
      <div class="how-it-works-pic">
        <div class="wrapper">
          <div class="col-container">
            <h1>How It Works</h1>
            <div class="row-container">
              <div class="step1"></div>
              <div class="step-text">
                <p>
                  Get a LoRaWAN compatible device
                </p>
              </div>
            </div>
            <div class="row-container">
              <div class="step2"></div>
              <div class="step-text">
                <p>
                  Log into OpenChirp with your Google account
                </p>
              </div>
            </div>
            <div class="row-container">
              <div class="step3"></div>
              <div class="step-text">
                <p>
                  Register your device
                </p>
              </div>
            </div>
            <div class="row-container">
              <div class="step4"></div>
              <div class="step-text">
                <p>
                  Start collecting data
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Technology/Features-->
    <div id="technology"></div>
    <div class="features">
      <div class="wrapper">
        <div class="section-text-line-left">
          <h4>Technology</h4>
        </div>
        <h1 align="center">Features</h1>
        <div class="feat-intro-text">
          <p align="center">
            OpenChirp is built on a standard MEAN (MongoDB, ExpressJS, AngularJS, Node.js)  stack. <br>
            The system uses MQTT for its publish-subscribe layer and InfluxDB for time series data storage, <br>
            but it flexible enough that application specific components can be added as services. <br>
            Checkout our Github page for our <a href="https://github.com/OpenChirp">software repository</a> and
            <a href="https://openchirp.github.io/api_doc/">API documentation</a>.
          </p>
        </div>
        <div class="feat-container">
          <div class="protobuf-icon"></div>
          <span class="feat-text">
            <p>ProtoBuf serialization from <br>
              end-device to cloud
            </p>
          </span>
          <div class="cloud-icon"></div>
          <div class="feat-text">
            <p>MQTT for scalable real-time<br>
              publish subscribe
            </p>
          </div>
          <div class="open-icon"></div>
          <div class="feat-text">
            <p>Openly available gateway<br>
              architecture
            </p>
          </div>
          <div class="rest-icon"></div>
          <span class="feat-text">
            <p>REST interface for configuration<br>
              and management
            </p>
          </span>
          <div class="battery-icon"></div>
          <div class="feat-text">
            <p>10 Year Battery-Life</p>
          </div>
          <div class="intelligent-icon"></div>
          <div class="feat-text">
            <p>Intelligent network<br>
              management
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--Gallery-->
    <div id="gallery"></div>
    <div class="gallery-section">
      <div class="section-text-line-right">
        <h4>Gallery</h4>
      </div>
      <!--<div class="gallery-pic">-->
      <div class="gallery-wrapper">
        <app-gallery></app-gallery>
      </div>
      <span class="gallery-text">
        <h1>Take a Look at Some<br>
          Behind the Scenes
        </h1>
      </span>
      <!--</div>-->
    </div>
    <!--Logos CMU/CyLab-->
    <div class="cmu">
      <div class="cmu-pic"></div>
    </div>
    <!--Footer-->
    <div class="footer" id="splash-footer">
      <div class="wrapper">
        <p>OpenChirp &copy; Copyright 2017</p>
      </div>
    </div>
  </div>
</div>
