<div class="tree-node" *ngIf="currentLocation">
  <div class="button" tabindex="1">
    <p class="name" (click)="toggleChildren(currentLocation)">{{ currentLocation.name }}</p>
    <md-icon (click)="deleteLocation(currentLocation)" *ngIf="deleteable()">delete</md-icon>
    <md-icon (click)="addLocation(currentLocation)">add</md-icon>
  </div>
  <div class="child" *ngFor="let child of childLocations">
    <tree-node [currentLocation]="child" (onDelete)="onDeleteChild($event)"></tree-node>
  </div>
</div>
