$dashboard-toolbar-color: #424242;
$background-color: #efefef;
$side-nav-color: #2c3e50;
$side-nav-width: 240px;

.tree-node {
  .button {
    width: $side-nav-width - 30px;
    height: 40px;
    border-left: 0;
    border-right: 0;
    border-top: solid 1px #607d8b;
    border-bottom: solid 1px #607d8b;
    background-color: $side-nav-color;
    color: $background-color;
    outline: none;
    box-shadow: none;
    text-align: left;
    line-height: 40px;
    padding-right: 15px;
    padding-left: 15px;
    .name {
      width: 120px;
      float:left;
    }
    .close {
      width: 20px;
      float: right;
    }
  }
  .button:hover {
    background-color: #607d8b;
    cursor: pointer;
  }
}