$row-height: 50px;
$black-text: #303132;

.device-templates {
  p {
    font-family: "Avenir-Med", sans-serif;
    color: $black-text;
  }
  mat-card {
    th {
      border-bottom: solid 1px #909090;
      font-weight:bold;
    }
    tr {
      cursor: pointer;
      border-top: solid 1px #e3e3e3;
      border-bottom: solid 1px #e3e3e3;
    }
    tr:hover {
      background-color: #e3e3e3;
    }
    background-color: white;

    .card-header {
      h2 {
        margin: 0;
        float: left;
        font-family: "Avenir-Heavy", sans-serif;
        color: $black-text;
      }
      button {
        float: right;
      }
      margin-bottom: 20px;
    }
  }
}
