<div class="new-template">
  <mat-card>
    <h2 *ngIf="device">Create New Template from device {{ device.name }} </h2>
    <hr>
    <form>
      <mat-form-field>
        <input matInput
               placeholder="Template Name"
               [(ngModel)]="name"
               [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <br>
      <mat-form-field>
        <textarea matInput placeholder="Description" [(ngModel)]="description" name="description"></textarea>
      </mat-form-field>
      <br><br>
      <button mat-raised-button type="submit" (click)="add()">Add Template</button>
      <button mat-raised-button (click)="cancel()">Cancel</button>
    </form>
  </mat-card>
</div>
