<div class="select-template">

  <div class="search">
    <h2>Select a Template</h2>
    <mat-form-field>
      <input matInput placeholder="Search" [(ngModel)]="searchTerm" name="search">
    </mat-form-field>
    <mat-icon>search</mat-icon>
  </div>
  <div>
    <table>

      <!-- Table Header-->
      <tr>
        <th><p>Name</p></th>
        <th><p>Description</p></th>
        <th><p>Owner</p></th>
      </tr>

      <!-- Table Body -->
      <tbody>

      <!-- Item Row -->
      <tr *ngFor="let template of filtered()" (click)="select(template)">
        <td><p>{{ template.name }}</p></td>
        <td><p>{{ template.description }}</p></td>
        <td><p>{{ template.owner.name || template.owner.email }}</p></td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
