
$black-text: #303132;

.user-profile {
  background-color: #ffffff;
  p {
    font-family: "Avenir-Med", sans-serif;
    color: $black-text;
  }
  md-card {
    background-color: #ffffff;
   
    .card-header {
      h2 {
        margin: 0;
        float: left;
        font-family: "Avenir-Heavy", sans-serif;
        color: $black-text;
      }
      button {
        float: right;
      }
      margin-bottom: 20px;
    }
    hr {
      margin: 0;
    }
    
  }
}
