<div class="admin">
  <mat-card>
    <div class="card-header">
      <h2>Admin Portal</h2>
      <!--<div class="save-template">
        <button mat-raised-button (click)="saveTemplate()">Save as Template</button>
      </div>
      <div class="delete">
        <button mat-raised-button (click)="deleteDevice()">Delete</button>
      </div>-->
    </div>
    <hr>
    <mat-tab-group>

      <!-- Groups Tab -->
      <mat-tab label="Groups">
        <div class="tab-content">
          <group ></group>
        </div>
      </mat-tab>


       <!-- Stats Tab -->
      <mat-tab label="Stats">
        <div class="tab-content">
          <stats ></stats>
        </div>
      </mat-tab>
      
    </mat-tab-group>
  </mat-card>
</div>
