<div class="admin">
  <md-card>
    <div class="card-header">
      <h2>Admin Portal</h2>
      <!--<div class="save-template">
        <button md-raised-button (click)="saveTemplate()">Save as Template</button>
      </div>
      <div class="delete">
        <button md-raised-button (click)="deleteDevice()">Delete</button>
      </div>-->
    </div>
    <hr>
    <md-tab-group>

      <!-- Groups Tab -->
      <md-tab label="Groups">
        <div class="tab-content">
          <group ></group>
        </div>
      </md-tab>

    </md-tab-group>
  </md-card>
</div>
