<div class="location">
  <mat-card>
    <h2 *ngIf="parent">Create New Location for {{ parent.name }}</h2>
    <h2 *ngIf="location">Update Location {{ location.name }}</h2>
    <hr>
    <form>
      <mat-form-field>
        <input matInput
               placeholder="Location Name"
               [(ngModel)]="name"
               [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <br>
      <mat-select placeholder="Location Type" [(ngModel)]="type" name="location-type">
        <mat-option *ngFor="let locationType of locationTypes" [value]="locationType">
          {{ locationType }}
        </mat-option>
      </mat-select>
      <br><br>
      <button mat-raised-button type="submit" (click)="add()" *ngIf="parent">Add Location</button>
      <button mat-raised-button type="submit" (click)="update()" *ngIf="location">Update Location</button>
      <button mat-raised-button (click)="cancel()">Cancel</button>
    </form>
  </mat-card>
</div>
