<div class="location">
  <md-card>
    <h2 *ngIf="parent">Create New Location for {{ parent.name }}</h2>
    <h2 *ngIf="location">Update Location {{ location.name }}</h2>
    <hr>
    <form>
      <md-input-container>
        <input mdInput 
               placeholder="Location Name" 
               [(ngModel)]="name" 
               [ngModelOptions]="{standalone: true}">
      </md-input-container>
      <br>
      <md-select placeholder="Location Type" [(ngModel)]="type" name="location-type">
        <md-option *ngFor="let locationType of locationTypes" [value]="locationType">
          {{ locationType }}
        </md-option>
      </md-select>
      <br><br>
      <button md-raised-button type="submit" (click)="add()" *ngIf="parent">Add Location</button>
      <button md-raised-button type="submit" (click)="update()" *ngIf="location">Update Location</button>
      <button md-raised-button (click)="cancel()">Cancel</button>
    </form>
  </md-card>
</div>