<div class="select-location">

  <div class="search">
    <h2>Select a Location</h2>
    <mat-form-field>
      <input matInput placeholder="Search" [(ngModel)]="searchTerm" name="search">
    </mat-form-field>
    <mat-icon>search</mat-icon>
  </div>
  <div>
    <table>

      <!-- Table Header-->
      <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Type</th>
      <th>Owner</th>
      </thead>

      <!-- Table Body -->
      <tbody>

      <!-- Item Row -->
      <tr *ngFor="let location of filtered()" (click)="confirmSelect(location)">
        <td><p>{{ location.id }}</p></td>
        <td><p>{{ location.name }}</p></td>
        <td><p *ngIf="location.type">{{ location.type }}</p></td>
        <td><p *ngIf="location.owner">{{ location.owner.name }}</p></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
