
$button-color: #3498db;
.login-page {
  .login-wrapper {
    padding-top: 100px;
    md-card {
      width: 350px;
      height: 320px;
      padding: 40px;
      margin-left: auto;
      margin-right: auto;
      background-color: #ffffff;
      md-card-title {
        color: #555555;
        font-size: 35px;
      }
      md-card-content {
        md-input-container {
          width: 100%;
          margin-top: 15px;
          margin-bottom: 15px;
        }
        .error {
          color: #ff0000;
        }
      }
      button {
        margin: 15px;
        background-color: $button-color;
        color: #efefef;
      }
    }
  }
}