<div class="login-page">
  <div class="login-wrapper">
    <md-card>
      <md-card-title>Login</md-card-title>
      <md-card-content>
        <form>
          <md-input-container>
          <input md-input placeholder="Username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
          </md-input-container>
          <md-input-container>
            <input md-input placeholder="Password" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
          </md-input-container>
          <p class="error">{{error}}</p>
          <button md-button type="submit" (click)="login()">Login</button>
        </form>
      </md-card-content>
      
    </md-card>
  </div>
</div>
