@import '../constants';

.splash-page {

  .page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -$footer-height;
  }
  background-color: #ffffff;
  h1 {
    color: #000080;
    font-family: "Arial", sans-serif;
    text-align: center;
  }
  h3 {
    color: #000080;
    font-family: "Arial", sans-serif;
    text-align: center;
  }
  h4 {
    color: #000080;
    font-family: "Arial", sans-serif;
    font-variant: all-small-caps;
    margin: 0;
    padding: 0;
    background-color: #efefef;
  }

  .spacer {
    flex: 1 1 auto;
  }
  .foo {
    background-color: $toolbar-color;
  }
  .foobar{
    background-color: $scrolled-bar-color;
  }

  md-toolbar {
    background-color: $toolbar-color;
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    color: #000000;
    text-align: right;
    font-variant: all-small-caps;
    margin: 0;
    transition: color .5s ease-out;

    button {
      //background-color: rgba(0, 0, 0, 0);
      outline-color: $background-color;
      //color: $background-color;
    }
    .login {
      background-color: $button-color;
    }
    .logo-text {
      color: black;
      font-family: "Arial", sans-serif;
    }
    .logo-section {
      color: $background-color;
      content: url("../../assets/images/logo-square.png");
      width: 50%;
    }
    .title-buttons-phone {
      display: none;
    }
  }

  .picture-section {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("../../assets/images/background.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .picture-section-text {
      position: absolute;
      font-size: 25px;
      width: 760px;
      top: 25%;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .section-text-line {
    text-decoration: overline;
    text-align: right;
    width: 100px;
    border-top: 2px solid $text-color;
  }

  .about-text {
    color: $text-color;
    margin-top: 10px;
    margin-right: 30px;
    font-family: "Arial", sans-serif;
    font-variant: all-small-caps;
  }

  .how-text {
    color: $text-color;
    margin-top: 10px;
    font-family: "Arial", sans-serif;
    font-variant: all-small-caps;
    margin-right: 25px;
    .line {
      text-decoration: overline;
      width: 100px;
      border-top: 2px solid $text-color;

      top: 40%;
      left: 10%;
      padding-left: 30px;
      padding-right: 30px;
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

      h1 {
        margin: 0;
        padding: 25px;
      }
    }
    .overlay {
      height: 100%;
      margin: 0;
      padding: 30px;
      background-color: rgba(255, 230, 230, 0.4);
    }
  }

  .how-it-works-pic {
    height: 100vh;
    margin: 0;
    background-image: url("../../assets/images/howitworks.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

  }

  .flex-container {
    width: 100%;
    //padding: 0;
    //margin: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .flex-item {
    padding: 5px;
    margin: 50px;

    .iot-project {
      content: url("../../assets/images/IoT icon.png");
    }
    .community-driven {
      content: url("../../assets/images/community icon.png");
    }
    .empowering {
      content: url("../../assets/images/empowering icon.png");
    }
    p {
      font-family: "Arial", sans-serif;
      text-align: center;
      color: #000000;
    }
  }

  .footer {
    height: $footer-height-bottom;
    background-color: rgba(52, 73, 94, 1.0);
    .wrapper {
      padding: 0;
      p {
        line-height: $footer-height-bottom;
        margin: 0;
        padding-left: 15px;
        padding-right: 15px;
        font-family: "Arial", sans-serif;
        text-align: center;
        color: #ffffff;
      }
    }
  }
  color: $background-color;
}

@media screen and (max-width: 960px) {
  .splash-page {
    .picture-section {
      .picture-section-text {
        position: relative;;
        font-size: 18px;
        width: 100%;
        padding: 0;
        top: 40%;
        left:0;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        h1 {
          padding: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .splash-page {
    md-toolbar {
      .title-buttons {
        display: none;
      }
      .title-buttons-phone {
        display: block;
      }
    }
  }

}
