<div class="splash-page">

  <!-- Toolbar -->
  <md-toolbar [ngClass]="{'foo': !isScrolled, 'foobar': isScrolled}">
    <a routerLink="/">
      <div class="logo-section">
        <span class="logo-text">{{title}}</span>
      </div>
    </a>
    <span class="spacer"></span>
    <div class="title-buttons">
      <a md-button routerLink="/" fragment="about-section" routerLinkActive="active">About</a>
      <a md-button routerLink="/" routerLinkActive="active">How It Works</a>
      <a md-button routerLink="/" routerLinkActive="active">Technology</a>
      <a md-button routerLink="/" routerLinkActive="active">Gallery</a>
      <a md-raised-button class="login" routerLink="/home" routerLinkActive="active">Login</a>
    </div>
  </md-toolbar>

  <!-- Page content -->
  <div class="page-wrap">
    <!-- Splash Page Section -->
    <div class="picture-section">
      <div class="picture-section-text">
        <h3>Next Generation <br> Low-Power Long-Range IoT</h3>
      </div>
    </div>

    <!--About Section-->
    <div class="about-section">
      <div class="wrapper">
        <!--<a name="about"></a>-->
        <div class="section-text-line">
          <h4 class="about-text">About</h4>
        </div>
        <h1>What is OpenChirp?</h1>
        <p>
          Management layer on top of LoRaWAN that provides data <br>
          context, storage, visualization, and access control. <br>
          This is a web portal for registration, visualization, and sharing. <br>
          LoRaWAN Network at CMU spanning most of Pittsburgh.
        </p>
      </div>
    </div>

    <div class="flex-container">
      <div class="flex-item">
        <div class="iot-project"></div>
        <p>
          <strong>Your IoT Project</strong>
        </p>
        <p>
          Contract-free, Secure, <br>
          Battery Operated, Wireless <br>
          Networking for your<br>
          IoT project
        </p>
      </div>
      <div class="flex-item">
        <div class="community-driven"></div>
        <p>
          <strong> Community-driven </strong>
        </p>
        <p>
          Create an open <br>
          community-driven <br>
          Network
        </p>
      </div>
      <div class="flex-item">
        <div class="empowering"></div>
        <p><strong>Empowering All</strong></p>
        <p>
          Empower researchers, <br>
          hobbyists, and citizen <br>
          scientists
        </p>
      </div>
    </div>

    <!--How it Works-->
    <div class="how-it-works">
      <div class="wrapper">
        <!--<div class="section-text-line">-->
          <h4 align="right" class="how-text line">How It Works</h4>
        <!--</div>-->
      </div>
      <div class="how-it-works-pic">
        <div class="overlay">
          <p>testing</p>
        </div>
      </div>
    </div>



    <!--Footer-->
    <div class="footer" id="splash-footer">
      <div class="wrapper">
        <p>OpenChirp &copy; Copyright 2017</p>
      </div>
    </div>


  </div>
</div>
