@import '../constants';

.splash-page {

  h1 {
    color: $black-text;
    font-family: "Avenir-Med", sans-serif;
    text-align: center;
  }
  h3 {
    color: #898787;
    font-family: "Avenir-Heavy", sans-serif;
    text-align: center;
  }
  h4 {
    color: #3A7193;
    font-family: "Avenir-Heavy", sans-serif;
    font-variant: all-small-caps;
    margin: 0;
    padding: 0;
    background-color: #efefef;
  }

  .page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -$footer-height;
  }
  background-color: #ffffff;

  .spacer {
    flex: 1 1 auto;
  }
  .pre-scroll {
    background-color: $toolbar-color;
  }
  .post-scroll {
    background-color: $scrolled-bar-color;
  }

  md-toolbar {
    background-color: $toolbar-color;
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    color: #444444;
    text-align: right;
    font-family: "Avenir-Heavy", sans-serif;
    font-variant: all-small-caps;
    margin: 0;
    transition: color .5s ease-out;

    button {
      //background-color: rgba(0, 0, 0, 0);
      outline-color: $background-color;
      //color: $background-color;
    }
    .login {
      background-color: $button-color;
    }
    .logo-section {
      color: #ffffff;
      content: url("../../assets/images/logo-square.png");
      width: 50%;
      .logo-text {
        h3 {
          color: $black-text;
          font-family: "Avenir-Heavy", sans-serif;
        }
      }
    }
    .title-buttons-phone {
      display: none;
    }
  }

  .picture-section {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("../../assets/images/background.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .picture-section-text {
      position: absolute;
      font-size: 25px;
      font-family: "Avenir-Med", sans-serif;
      width: 760px;
      top: 25%;
      padding-left: 30px;
      padding-right: 30px;
    }
    h3 {
      color: $text-color;
    }
  }

  .section-text-line-left {
    text-decoration: overline;
    text-align: center;
    width: 125px;
    border-top: 3px solid $text-color;

    h4 {
      color: $text-color;
      font-family: "Avenir-Heavy", sans-serif;
      font-variant: all-small-caps;
      background-color: transparent;
    }
  }

  .section-text-line-right {
    text-decoration: overline;
    position: absolute;

    margin: 0 15% 30% 88%;

    text-align: center;
    width: 125px;
    border-top: 3px solid $text-color;

    h4 {
      color: $text-color;
      font-family: "Avenir-Heavy", sans-serif;
      font-variant: all-small-caps;
      background-color: transparent;
    }
  }

  .what-is-text {
    p {
      color: #444444;
      font-family: "Avenir-Med", sans-serif;
    }
  }

  .how-it-works-pic {
    height: 100vh;
    margin: 0;
    background-image: url("../../assets/images/howitworks.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

  }

  .col-container {
    height: 100%;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    text-align: left;

    h1 {
      color: $black-text;
      font-family: "Avenir-Heavy", sans-serif;
      margin: 10% 63% 2% 0;
    }
  }

  .row-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .step-text {
    text-align: left;
    margin: 0 50% 0 0;

    h4 {
      font-family: "Avenir-Heavy", sans-serif;
      color: $black-text;
      font-variant: all-small-caps;
    }

    p {
      font-family: "Avenir-Heavy", sans-serif;
      color: $black-text;
      size: 8px;
    }
  }


  .step1 {
    padding: 5px;
    margin: 10px 25px 5px 20px;
    content: url("../../assets/images/1.png");
  }
  .step2 {
    padding: 5px;
    margin: 10px 25px 5px 20px;
    content: url("../../assets/images/2.png");
  }
  .step3 {
    padding: 5px;
    margin: 10px 25px 5px 20px;
    content: url("../../assets/images/3.png");
  }
  .step4 {
    padding: 5px;
    margin: 10px 25px 5px 20px;
    content: url("../../assets/images/4.png");
  }
  .step5 {
    padding: 5px;
    margin: 10px 25px 5px 20px;
    content: url("../../assets/images/5.png");
  }

  .flex-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  }

  .whatis-col {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .whatis-text{
    margin: 0 10px 15px 0;
    p {
      font-family: "Avenir-Med", sans-serif;
      text-align: center;
      color: #898787;
    }
    strong {
      font-family: "Avenir-Heavy", sans-serif;
      color: #444444;
    }
  }

  .iot-project {
    padding: 5px;
    margin: 0 10px 15px 0;
    content: url("../../assets/images/IoT icon.png");
  }
  .community-driven {
    padding: 5px;
    margin: 0 10px 15px 0;
    content: url("../../assets/images/community icon.png");
  }
  .empowering {
    padding: 5px;
    margin: 0 10px 15px 0;
    content: url("../../assets/images/empowering icon.png");
  }

  .tech-text {
    margin-top: 10px;
    margin-left: 25px;
    background-color: transparent;

    h4 {
      color: $text-color;
      font-family: "Avenir-Heavy", sans-serif;
      font-variant: all-small-caps;
      background-color: transparent;
    }
  }

  .feat-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
  }

  .feat-text {
    p {
      font-family: "Avenir-Heavy", sans-serif;
      color: #444444;
    }
  }

  .protobuf-icon {
    padding: 5px;
    margin: 50px 20px 50px 70px;

    content: url("../../assets/images/protobuf-icon.png");
  }

  .cloud-icon {
    padding: 5px;
    margin: 50px 20px 50px 70px;

    content: url("../../assets/images/cloud-icon.png");
  }

  .open-icon {
    padding: 5px;
    margin: 50px 20px 50px 70px;

    content: url("../../assets/images/open-icon.png");
  }

  .rest-icon {
    padding: 5px;
    margin: 50px 20px 50px 50px;

    content: url("../../assets/images/rest-icon.png");
  }

  .battery-icon {
    padding: 5px;
    margin: 50px 20px 50px 50px;

    content: url("../../assets/images/battery-icon.png");
  }

  .intelligent-icon {
    padding: 5px;
    margin: 50px 20px 50px 50px;

    content: url("../../assets/images/intelligent-icon.png");
  }

  .gallery-title {
    margin-top: 10px;
    margin-right: 25px;
    background-color: transparent;

    h4 {
      color: $text-color;
      font-family: "Avenir-Heavy", sans-serif;
      font-variant: all-small-caps;
      background-color: transparent;
    }
  }

  .gallery-pic {
    height: 100vh;
    margin: 0;
    background-image: url("../../assets/images/gallery-bg.png");
    background-position: center;
    background-size: 100% 80%;
    background-repeat: no-repeat;

    .gallery-text {
      position: absolute;
      font-family: "Avenir-Heavy", sans-serif;
      margin: 15% 10% 5% 65%;
    }

    button {
      outline-color: $text-color;
    }
    .gallery-button {
      background-color:  rgb(234,240,242);
      font-family: "Avenir-Heavy", sans-serif;
      font-variant: all-small-caps;
      color: $black-text;
      margin: 10% 35% 5% 35%;
    }
  }

  .cmu-pic {
    height: 100vh;
    margin: 0;
    background-image: url("../../assets/images/CMU.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  .footer {
    height: $footer-height-bottom;
    background-color: rgba(52, 73, 94, 1.0);
    .wrapper {
      padding: 0;
      p {
        line-height: $footer-height-bottom;
        margin: 0;
        padding-left: 15px;
        padding-right: 15px;
        font-family: "Arial", sans-serif;
        text-align: center;
        color: #ffffff;
      }
    }
  }
  color: $background-color;
}

@media screen and (max-width: 960px) {
  .splash-page {
    .picture-section {
      .picture-section-text {
        position: relative;;
        font-size: 18px;
        width: 100%;
        padding: 0;
        top: 40%;
        left:0;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        h1 {
          padding: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .splash-page {
    md-toolbar {
      .title-buttons {
        display: none;
      }
      .title-buttons-phone {
        display: block;
      }
    }
  }

}
