<div class="infra-service">
    <md-card *ngIf="service">    
      <div class="card-header">
      	 <h2 > Service {{ service.name }}</h2>
         <div class="delete">
         	<button md-raised-button (click)="deleteService()">Delete</button>
      	 </div>
      </div>
       <hr> 
      <form>   		  	
      	  <p><md-input-container>
	        <input mdInput placeholder="Name" [(ngModel)]="service.name" name="service-name">
	      </md-input-container></p>    
	      <p><md-input-container>
	        <textarea mdInput placeholder="Description" [(ngModel)]="service.description" name="service-description"></textarea>
	      </md-input-container></p>

	 		<p> <button md-raised-button (click)="updateService()">Update</button>
			 <button md-raised-button (click)="viewProperties()">Edit Custom Properties</button></p>
	  	 <div><p><button md-raised-button (click)="viewConfigRequired()">Device Config Required
		  </button> </p></div>
	  	 <p>Owner : {{ service.owner.name || service.owner.email }}</p>
	  	<!--  <p>Created at: {{ service.created_at | date :"short" }}</p>
   		 <p>Last Updated: {{ service.updated_at | date :"short" }}</p>-->
		  <p></p>
		 
		  <hr>
		 <h3>Status:</h3>
		  <p>Last Message : {{ service.status ? service.status.message : "-" }}</p>
		  <p>Timestamp : {{ service.status ? (service.status.timestamp | date : "short" ) : "-" }}</p>
		 <hr>
		 <h3>PubSub:</h3>
	      <p>Protocol : {{ service.pubsub.protocol }}</p>
		  <p>Endpoint : {{ service.pubsub.endpoint }}</p>
		
		 <div *ngIf ="acl.isOwner">		 	   
		     <div *ngIf="service.token">
		        <button md-raised-button (click)="recreateServiceToken()">Re-Generate Token</button>  
		        <button md-raised-button (click)="deleteServiceToken()">Delete Token</button>
		     </div>
		      <div *ngIf="!service.token">
		        <button md-raised-button (click)="createServiceToken()">Generate Token</button>
		     </div>
	     </div>		  
	  </form>
	</md-card>

</div>

