$row-height: 50px;
$black-text: #303132;

.services {
  p {
    font-family: "Avenir-Med", sans-serif;
    color: $black-text;
  }
  ng2-md-datatable-header {
    border-bottom: solid 1px #909090;
  }

  ng2-md-datatable-row {
    cursor: pointer;
    border-bottom: solid 1px #909090;
  }
  ng2-md-datatable-row:hover {
    background-color: #e3e3e3;
  }
  md-card {
    background-color: white;

  .card-header {
      h2 {
        margin: 0;
        float: left;
        font-family: "Avenir-Heavy", sans-serif;
        color: $black-text;
      }
      .new-service {
        font-family: "Avenir-Med", sans-serif;
        color: $black-text;
        .button {
          margin-left: 5px;
          margin-right: 5px;
          background-color: white;
        }
      }
      button {
        float: right;
      }
      margin-bottom: 20px;
    }
    hr {
      margin: 0;
    }


  }
}
