<div class="services">
  <mat-card>
    <div class="card-header">
      <h2>Services</h2>
      <div class="new-service">
        <button mat-raised-button (click)="newService()">New Service</button>
      </div>
    </div>
    <br>
    <table>
      <!-- Table Header-->
      <tr>
        <th><p>Name</p></th>
        <th><p>Description</p></th>
        <th><p>Last Status</p></th>
        <th><p>Timestamp</p></th>
      </tr>

      <!-- Table Body -->
      <tbody>
      <!-- Item Row -->
      <tr *ngFor="let service of services" (click)="gotoService(service._id)">
        <td><p>{{ service.name }}</p></td>
        <td><p>{{ service.description }}</p></td>
        <td><p>{{ service.status ? service.status.message : "-" }}</p></td>
        <td><p>{{ service.status ? (service.status.timestamp | date : "short") : "-"}}</p></td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="services.length == 0">
      <p>Currently no services to display.</p>
    </div>
  </mat-card>
</div>
