<div class="services">
  <md-card>
    <div class="card-header">
      <h2>Services</h2>
      <div class="new-service">
        <button md-raised-button (click)="newService()">New Service</button>
      </div>
    </div>
    <br>
    <ng2-md-datatable>
      <!-- Table Header-->
      <ng2-md-datatable-header>
        <ng2-md-datatable-column><p>Name</p></ng2-md-datatable-column>
        <ng2-md-datatable-column><p>Description</p></ng2-md-datatable-column>
      </ng2-md-datatable-header>

      <!-- Table Body -->
      <tbody>
        <!-- Item Row -->
        <ng2-md-datatable-row *ngFor="let service of services"  (click)="gotoService(service._id)">
          <td><p>{{ service.name }}</p></td>
          <td><p>{{ service.description }}</p></td>
        </ng2-md-datatable-row>
      </tbody>
    </ng2-md-datatable>
    <div *ngIf="services.length == 0">
      <p>Currently no services to display.</p>
    </div>
  </md-card>
</div>
