<div class="select-service">
  
  <div class="search">
    <h2>Select a Service</h2>
    <md-input-container>
      <input mdInput placeholder="Search" [(ngModel)]="searchTerm" name="search">
    </md-input-container>
    <md-icon>search</md-icon>
  </div>
  <div>
    <ng2-md-datatable>

      <!-- Table Header-->
      <ng2-md-datatable-header>
        <ng2-md-datatable-column><p>Name</p></ng2-md-datatable-column>
        <ng2-md-datatable-column><p>Description</p></ng2-md-datatable-column>
        <ng2-md-datatable-column><p>Device Permission</p></ng2-md-datatable-column>
      </ng2-md-datatable-header>

      <!-- Table Body -->
      <tbody>

        <!-- Item Row -->
        <ng2-md-datatable-row *ngFor="let service of filtered()" (click)="select(service)">
          <td><p>{{ service.name }}</p></td>
          <td><p>{{ service.description }}</p></td>
          <td><p>{{ getPermissionName(service.device_permission) }}</p></td>
        </ng2-md-datatable-row>

      </tbody>
    </ng2-md-datatable>
  </div>
</div>