.select-service {
  padding: 15px;

  th {
    border-bottom: solid 1px #303030;
  }

  tr {
    border-bottom: solid 1px #303030;
    transition-duration: 0.3s;
    cursor: pointer;
  }
  tr:hover {
    background-color: #e3e3e3;
  }

  .search {
    overflow: hidden;
    h2 {
      float: left;
    }
    mat-form-field {
      float: right;
    }
    mat-icon {
      float: right;
      color: #909090;
      line-height: 55px;
    }
  }
}
