$toolbar-color: rgba(52, 73, 94, 0.8);
$background-color: #efefef;
$button-color: #3498db;
$footer-height-top: 240px;
$footer-height-bottom: 60px;
$footer-height: $footer-height-bottom + $footer-height-top;