$toolbar-color: rgba(200, 200, 255, 0.2);
$scrolled-bar-color: rgba(200, 200, 255, 1);
$text-color: #000080;
$background-color: #ffffff;
$button-color: #3498db;
$footer-height-top: 240px;
$footer-height-bottom: 60px;
$footer-height: $footer-height-bottom + $footer-height-top;

.error-message {
    color: red;
}

.success-message {
    color: green;
}
