$toolbar-color: rgb(234,240,242);
$scrolled-bar-color: rgb(242,236,234) /*rgba(255, 255, 255, 1)*/;
$text-color: #3A7193;
$black-text: #444444;
$background-color: #ffffff;
$button-color: #3498db;
$footer-height-top: 240px;
$footer-height-bottom: 60px;
$footer-height: $footer-height-bottom + $footer-height-top;

.error-message {
    color: red;
}

.success-message {
    color: green;
}
