<div class="login-group">
  <img class="openchirp-logo-image" src="assets/images/logo_with_text.png">
  <br>
  <br>
  <google-signin></google-signin>
  <br>
  <br>
  <p><strong>Or</strong></p>
  <mat-form-field class="Email">
    <input matInput size="30" type="email" required placeholder="Email" [pattern]="emailPattern" [(ngModel)]="email">
  </mat-form-field>
  <mat-form-field class="Name" *ngIf="showSignup">
    <input matInput size="30" type="text" required placeholder="Name" [(ngModel)]="name">
  </mat-form-field>
  <mat-form-field class="Password">
    <input matInput size="30" type="password" required placeholder="Password" [(ngModel)]="password">
  </mat-form-field>
  <mat-form-field class="Confirm Password" *ngIf="showSignup">
    <input matInput size="30" type="password" required placeholder="Confirm Password" [(ngModel)]="confirmPassword">
  </mat-form-field>
  <br/>
  <br/>
  <button mat-raised-button (click)="signup()">SignUp</button>
  <button mat-raised-button (click)="login()">Login</button>
</div>
