<div class="login-group">
  <img class="openchirp-logo-image" src="assets/images/logo_with_text.png">
  <br>
  <br>
  <google-signin></google-signin>
  <br>
  <p><strong>Or</strong></p>
  <form class="login-form">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" required name="email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill" *ngIf="showSignup">
      <mat-label>Name</mat-label>
      <input matInput type="text" required name="name" placeholder="Name" [(ngModel)]="name">
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill" class="Password">
      <mat-label>Password</mat-label>
      <input matInput type="password" required name="password" placeholder="Password" [(ngModel)]="password">
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill" class="Confirm Password" *ngIf="showSignup">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" required name="confirm" placeholder="Confirm Password"
             [(ngModel)]="confirmPassword">
    </mat-form-field>
    <br/>
    <button mat-raised-button (click)="signup()" *ngIf="showSignupButton">SignUp</button>
    <button mat-raised-button (click)="login()">Login</button>
  </form>
</div>
