<div class="login-group">
  <img class="openchirp-logo-image" src="assets/images/logo_with_text.png">
  <br>
  <br>
  <google-signin></google-signin>
  <br>
  <br>
  <p><strong>Or</strong></p>
  <md-input-container class="Email">
    <input mdInput size="30" type="email" required placeholder="Email" [pattern]="emailPattern" [(ngModel)]="email">
  </md-input-container>
  <md-input-container class="Name" *ngIf="showSignup">
    <input mdInput size="30" type="text" required placeholder="Name" [(ngModel)]="name">
  </md-input-container>
  <md-input-container class="Password">
    <input mdInput size="30" type="password" required placeholder="Password" [(ngModel)]="password">
  </md-input-container>
  <md-input-container class="Confirm Password" *ngIf="showSignup">
    <input mdInput size="30" type="password" required placeholder="Confirm Password" [(ngModel)]="confirmPassword">
  </md-input-container>
  <br/>
  <br/>
  <button md-raised-button (click)="login()">Login</button>
</div>
