.login-group {
  text-align:center;
}

mat-form-field {
  width:80%;
}

/* ::ng-deep required for dynamically generated DOM elements */
:host ::ng-deep .abcRioButton {
  margin: 0 auto;
}
