<div class="admin-devicegroup-list">
  <mat-card>
    <div class="card-header">
      <h2>List of DeviceGroups</h2>
      <div class="search">
        <mat-form-field>
          <input matInput placeholder="Search" [(ngModel)]="searchTerm" name="search">
        </mat-form-field>
        <mat-icon>search</mat-icon>
      </div>
    </div>
    <table matSort (matSortChange)="sortData($event)">
      <!-- Table Header-->
      <thead>
      <tr>
        <th mat-sort-header="name">DeviceGroup Name</th>
        <th mat-sort-header="owner">Owner</th>
        <th mat-sort-header="location">Location</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let device of filtered()" class="devices" (click)="gotoDevice(device._id)">
        <td>{{ device.name }}</td>
        <td>{{ device.owner?.name }} &lt;{{ device.owner?.email }}&gt;</td>
        <td>{{ device.location_id?.name }}</td>
      </tr>
      <tr *ngIf="filtered().length == 0">
        <td colspan="3">No device groups found.</td>
      </tr>
      </tbody>
    </table>
  </mat-card>
</div>
