.device-visualization {
  	.resolution{
		font-family: "Avenir-Med", sans-serif;
		font-size: 12px;
		margin-right: 20px;
		float: right;
		background-color: white;
		.icon{
			padding: 4px 12px;
		}	
	}
}