.device-acl {
  ng2-mat-datatable-header {
    border-bottom: solid 1px #303030;
    font-weight: bold;
  }
    tr {   
      border-top: solid 1px #e3e3e3;
      border-bottom: solid 1px #e3e3e3;
  }

   .group-name{
     cursor: pointer;
     display: block;
     width: 100%;
     height:100%
 }
   mat-card {
    width: 80%;
    min-width: 400px;
    margin: 10px;
    border:solid 1px #e3e3e3;
    box-shadow: none;
  }
   .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
}