<div class="device-properties">
  <form *ngIf="device">
    <div>
      <md-input-container>
        <input mdInput placeholder="Name" [(ngModel)]="device.name" name="device-name">
      </md-input-container>
    </div>
    <br>
    <div>
      <md-select placeholder="Device Type" [(ngModel)]="device.type" name="device-type">
        <md-option *ngFor="let deviceType of deviceTypes" [value]="deviceType">
          {{ deviceType }}
        </md-option>
      </md-select>
    </div>
    <br>
    <div>
      <p>Enabled</p>
      <md-slide-toggle [(ngModel)]="device.enabled" name="device-enabled">True</md-slide-toggle>
    </div>
    <p>Protocol: {{ device.pubsub.protocol }}</p>
    <p>Endpoint: {{ device.pubsub.endpoint }}</p>
    <button md-raised-button (click)="updateDevice()">Update</button>
  </form>
</div>