<div class="device-commands" *ngIf="device">

  <ng2-md-datatable>

    <!-- Table Header-->
    <ng2-md-datatable-header>
      <ng2-md-datatable-column><p>Command</p></ng2-md-datatable-column>
      <ng2-md-datatable-column><p>Value</p></ng2-md-datatable-column>
      <ng2-md-datatable-column><p></p></ng2-md-datatable-column>
      <ng2-md-datatable-column><p>Actions</p></ng2-md-datatable-column>
    </ng2-md-datatable-header>

    <!-- Table Body -->
    <tbody>

      <!-- Item Row -->
      <ng2-md-datatable-row *ngFor="let command of device.commands">
        <td><p>{{ command.name }}</p></td>
        <td><p>{{ command.value }}</p></td>
        <td><button md-raised-button (click)="execute(command)">Run</button></td>
        <td>
           <md-icon [mdMenuTriggerFor]="menu">more_horiz</md-icon>
           <md-menu #menu="mdMenu">                 
              <button md-menu-item (click)="createShortcut(command)">Add Shortcut</button>
              <button md-menu-item (click)="publicLink(command)">Create Public Link</button>
              <button md-menu-item (click)="deleteCommand(command._id, command.name)">Delete</button>
        </md-menu>
        
        </td>
      </ng2-md-datatable-row>

      <!-- New Transducer Row -->
      <ng2-md-datatable-row>
        <td>
          <md-input-container>
            <input mdInput placeholder="Name" [(ngModel)]="name">
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <input mdInput placeholder="Value" [(ngModel)]="value">
          </md-input-container>
        </td>
        <td>
          <md-select placeholder="Transducer" [(ngModel)]="transducer" name="transducer">
            <md-option *ngFor="let transducer of device.transducers" [value]="transducer">
              {{ transducer.name }}
            </md-option>
          </md-select>
        </td>
        <td>
          <button md-icon-button (click)="newCommand()">
            <md-icon>add</md-icon>
          </button>
        </td>
      </ng2-md-datatable-row>

    </tbody>
  </ng2-md-datatable>

</div>