<div class="device-properties">
  <form *ngIf="device">
    <div>
      <md-input-container>
        <input mdInput placeholder="Name" [(ngModel)]="device.name" name="device-name">
      </md-input-container>
    
    
    <!--<div>
      <md-select placeholder="Device Type" [(ngModel)]="device.type" name="device-type">
        <md-option *ngFor="let deviceType of deviceTypes" [value]="deviceType">
          {{ deviceType }}
        </md-option>
      </md-select>
    </div>
    <br>-->
    
      <p>Enabled :
      <md-slide-toggle [(ngModel)]="device.enabled" name="device-enabled">True</md-slide-toggle>
      </p>
    <button md-raised-button (click)="updateDeviceMeta()">Update</button>  
    <button md-raised-button (click)="viewProperties()">Edit Custom Properties</button>
    <button md-raised-button *ngIf="device.location_id" (click)="gotoLocation()">Go to Parent Location</button>
     <p></p>
    </div>
   <hr>
    <p>Protocol : {{ device.pubsub.protocol }}</p>
    <p>Endpoint : {{ device.pubsub.endpoint }}</p>
    <p>Owner : {{ device.owner.name || device.owner.email }}</p>
    <p>Created at: {{ device.created_at | date :"short" }}</p>
    <p></p>
  
  </form>
</div>