$black-text: #303132;

.device-services {
	.tab-header {
		h4 {
			margin: 0;
			float: left;
			font-family: "Avenir-Heavy", sans-serif;
			color: $black-text;
		}
		.link-service {
			font-family: "Avenir-Med", sans-serif;
			color: $black-text;
			.button {
				margin-left: 5px;
				margin-right: 5px;
				background-color: white;
			}
		}
		button {
			float: right;
		}
		margin-bottom: 20px;
	}
}