<div class="device-properties">
  <form *ngIf="device">
    <div>
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="device.name" name="device-name">
      </mat-form-field>

    <!--<div>
      <mat-select placeholder="Device Type" [(ngModel)]="device.type" name="device-type">
        <mat-option *ngFor="let deviceType of deviceTypes" [value]="deviceType">
          {{ deviceType }}
        </mat-option>
      </mat-select>
    </div>
    <br>-->

      <p>Enabled :
      <mat-slide-toggle [(ngModel)]="device.enabled" name="device-enabled">{{device.enabled}}</mat-slide-toggle>
      </p>
      <p *ngIf="device.isDeviceGroup">Combined Pubsub :
        <mat-slide-toggle [(ngModel)]="device.combined_pubsub" name="device-combined-pubsub">{{device.combined_pubsub}}</mat-slide-toggle>
      </p>
    <button mat-raised-button (click)="updateDeviceMeta()">Update</button>
    <button mat-raised-button (click)="viewProperties()">Edit Custom Properties</button>
    <button mat-raised-button *ngIf="device.location_id" (click)="gotoLocation()">Go to Parent Location</button>
    <button mat-raised-button (click)="pickLocation()">Change Location</button>
     <p></p>
    </div>
   <hr>

    <p *ngIf="device.isDeviceGroup; then devgroup_id else dev_id"></p>
    <ng-template #devgroup_id>DeviceGroup ID: {{ device._id }}</ng-template>
    <ng-template #dev_id>Device ID: {{ device._id }}</ng-template>

    <p>Protocol : {{ device.pubsub.protocol }}</p>
    <p>Endpoint : {{ device.pubsub.endpoint }}</p>
    <p>Owner : {{ device.owner.name || device.owner.email }}</p>
    <p>Created at: {{ device.created_at | date :"short" }}</p>
    <p></p>

  </form>
</div>
<grouped-devices [deviceGroup]="device" (updateDevice)="updateDevice" *ngIf="device.isDeviceGroup"></grouped-devices>
