<div class="device-services" *ngIf="services">

<div class="tab-header">
      
      <div class="link-service">
        <button md-raised-button (click)="selectService()">Link Service</button>
      </div>
  </div>
  <div *ngIf="services.length > 0">
  <ng2-md-datatable>
    <!-- Table Header-->
    <ng2-md-datatable-header>
      <ng2-md-datatable-column><p>Name</p></ng2-md-datatable-column>
      <ng2-md-datatable-column><p>Config</p></ng2-md-datatable-column>
    </ng2-md-datatable-header>

    <!-- Table Body -->
    <tbody>
      <!-- Item Row -->
      <ng2-md-datatable-row *ngFor="let service of services">
        <td><p>{{ service.name }}</p></td>
        <td><p><button md-raised-button (click)="viewConfig(service)">
           View Config
          </button></p></td>
          <td>
          <button md-icon-button color="warn" (click)="removeServiceLink(service._id, service.name)">
            <md-icon >clear</md-icon>
          </button>
        </td>
      </ng2-md-datatable-row>
    </tbody>
  </ng2-md-datatable>
  </div>
 <div *ngIf="services.length == 0">
      <p>No linked services </p>
    </div>
</div>