<div class="device-transducers">
  <mat-card-title *ngIf="this.device.isDeviceGroup">DeviceGroup Transducers</mat-card-title>
  <p>
    <mat-button-toggle-group>
      <button mat-raised-button disabled>
        Update every {{transducerAutoRefreshPeriod/1000}}sec
      </button>
      <mat-button-toggle value="play" (change)="transducerAutoRefreshStart()">
        <mat-icon>play_arrow</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="pause" checked="true" (change)="transducerAutoRefreshStop()">
        <mat-icon>pause</mat-icon>
      </mat-button-toggle>
      <button mat-raised-button (click)="getTransducers()">
        <mat-icon> sync </mat-icon> {{ lastUpdated | date :"M/d/yy h:mm:ss a" }}
      </button>
    </mat-button-toggle-group>
  </p>
  <table matSort (matSortChange)="sortTransducers($event)">
    <!-- Table Header-->
    <thead>
    <tr>
      <th mat-sort-header="name"><p>Name</th>
      <th mat-sort-header="unit"><p>Unit</th>
      <th>Actuable</th>
      <th mat-sort-header="value"><p>Value</th>
      <th mat-sort-header="timestamp"><p>Timestamp</th>
      <th>Actions</th>
    </tr>
    </thead>
    <!-- Table Body -->
    <tbody>

    <!-- Item Row -->
    <tr *ngFor="let transducer of sortedTransducers">
      <td>{{ transducer.name }}</td>
      <td>{{ transducer.unit ? transducer.unit : "-"}}</td>
      <td>{{ transducer.is_actuable }}</td>
      <td>{{ transducer.value ? transducer.value : "-" }}</td>
      <td>{{ transducer.timestamp | date :"M/d/yy h:mm:ss a"  }}</td>
      <td>
        <button mat-icon-button color="primary" (click)="editTransducer(transducer)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteTransducer(transducer._id, transducer.name)">
          <mat-icon>clear</mat-icon>
        </button>
        <button mat-icon-button color="primary" *ngIf="transducer.is_actuable" (click)="publishTransducerValue(transducer._id, transducer.name, transducer.value)">
          <mat-icon>send</mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
    <!-- New Transducer Row -->
    <tfoot>
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="name">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Unit" [(ngModel)]="unit">
        </mat-form-field>
      </td>
      <td>
        <mat-slide-toggle [(ngModel)]="actuable">{{ actuable }}</mat-slide-toggle>
      </td>
      <td>-</td>
      <td>-</td>
      <td>
        <button mat-icon-button (click)="newTransducer()">
          <mat-icon>add</mat-icon>
        </button>
      </td>
    </tr>
    </tfoot>
  </table>
  <div *ngIf="this.device.isDeviceGroup">
    <br/>
    <br/>
    <br/>
    <mat-card-title>Broadcast Transducers</mat-card-title>
    <table matSort (matSortChange)="sortBroadcastTransducers($event)">
      <!-- Table Header-->
      <thead>
      <tr>
        <th mat-sort-header="name"><p>Name</th>
        <th mat-sort-header="unit"><p>Unit</th>
        <th>Actions</th>
      </tr>
      </thead>
      <!-- Table Body -->
      <tbody>

      <!-- Item Row -->
      <tr *ngFor="let btransducer of sortedBroadcastTransducers">
        <td>{{ btransducer.name }}</td>
        <td>{{ btransducer.unit ? btransducer.unit : "-"}}</td>
        <td>
          <button mat-icon-button color="primary" (click)="editBroadcastTransducer(btransducer)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteBroadcastTransducer(btransducer._id, btransducer.name)">
            <mat-icon>clear</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="publishBroadcastTransducerValue(btransducer._id, btransducer.name, btransducer.value)">
            <mat-icon>send</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
      <!-- New Transducer Row -->
      <tfoot>
      <tr>
        <td>
          <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="bname">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Unit" [(ngModel)]="bunit">
          </mat-form-field>
        </td>
        <td>-</td>
        <td>-</td>
        <td>
          <button mat-icon-button (click)="newBroadcastTransducer()">
            <mat-icon>add</mat-icon>
          </button>
        </td>
      </tr>
      </tfoot>
    </table>


    <br/>
    <br/>
    <br/>
    <mat-card-title>Grouped Devices Transducers</mat-card-title>
    <table matSort (matSortChange)="sortGroupTransducers($event)">

      <!-- Table Header-->
      <thead>
        <tr>
          <th mat-sort-header="deviceName">Device Name</th>
          <th mat-sort-header="name">Transducer Name</th>
          <th mat-sort-header="unit">Unit</th>
          <th mat-sort-header="value">Value</th>
          <th mat-sort-header="timestamp">Timestamp</th>
          <th>Actions</th>
        </tr>
      </thead>
      <!-- Table Body -->
      <tbody>

      <!-- Item Row -->
      <tr *ngFor="let transducer of sortedGroupTransducers">
        <td (click)="gotoDevice(transducer.deviceid)" class="clickable">{{ transducer.devicename }}</td>
        <td>{{ transducer.name }}</td>
        <td>{{ transducer.unit ? transducer.unit : "-"}}</td>
        <td>{{ transducer.value ? transducer.value : "-" }}</td>
        <td>{{ transducer.timestamp | date :"M/d/yy h:mm:ss a"  }}</td>
        <td>
          <button mat-icon-button color="primary" *ngIf="transducer.is_actuable" (click)="publishTransducerValue(transducer._id, transducer.name, transducer.value)">
            <mat-icon>send</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="sortedGroupTransducers.length == 0">
      <p>No grouped transducers.</p>
    </div>
  </div>
</div>
