<div class="device-services">
<mat-card>
    <div class = "card-header">
      <div class="link-service">
        <button mat-raised-button (click)="selectService()">Link Service</button>
      </div>
    </div>
  <br>
  <div *ngIf="services.length > 0">
  <table>
    <!-- Table Header-->
    <tr>
      <th><p>Name</p></th>
      <th><p>Config</p></th>
      <th><p>Last Status</p></th>
      <th><p>Timestamp</p></th>
      <th><p>Delete</p></th>
    </tr>

    <!-- Table Body -->
    <tbody>
      <!-- Item Row -->
      <tr *ngFor="let service of services">
        <td><p>{{ service.name }}</p></td>
        <td><p *ngIf="service.config"><button mat-raised-button (click)="viewConfig(service)">
           View/Update Config
          </button></p></td>
          <td><p>{{ service.status ? service.status.message : "-" }}</p></td>
          <td><p>{{ service.status ? (service.status.timestamp | date : "short" ) : "-" }}</p></td>
          <td>
          <button mat-icon-button color="warn" (click)="removeServiceLink(service._id, service.name)">
            <mat-icon >clear</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
 <div *ngIf="services.length == 0">
      <p>No linked services </p>
</div>
</mat-card>
</div>

