<div class="edit-transducer">

  <div>
    <h2>Edit: {{ this.originalName }}</h2>

    <md-input-container>
      <input mdInput placeholder="Name" [(ngModel)]="name">
    </md-input-container>
    <br/>
    <md-input-container>
      <input mdInput placeholder="Unit" [(ngModel)]="unit">
    </md-input-container>
    <br/>
      <md-slide-toggle [(ngModel)]="actuable">Actuable: {{ actuable }}</md-slide-toggle>
    <br/>
    <br/>
    <div class="buttons">
      <button md-raised-button color="primary" (click)="submitEdit()">Update</button>
      <button md-raised-button (click)="denyDialog()">Cancel</button>
    </div>


  </div>
</div>
