<div class="device-info">
  <mat-card *ngIf="device">

    <div class="card-header">
      <h2 *ngIf="device.isDeviceGroup; then devgroup_title else dev_title"></h2>
      <ng-template #devgroup_title>DeviceGroup Information for {{ device.name }}</ng-template>
      <ng-template #dev_title>Device Information for {{ device.name }}</ng-template>
      <button mat-raised-button class="save-template-button hide-on-small-screens" (click)="saveTemplate()">Save as Template</button>
      <button mat-raised-button class="delete-button hide-on-small-screens" (click)="deleteDevice()">Delete</button>
    </div>
    <hr />
    <mat-tab-group [(selectedIndex)]="selectedIndex">

      <!-- Properties Tab -->
      <mat-tab label="Properties">
        <div class="tab-content">
          <device-properties [device]="device" [acl]="acl" (updateDevice)="getDevice($event)"></device-properties>
        </div>
      </mat-tab>

      <!-- DeviceGroup Tab
      <mat-tab label="Grouped Devices" *ngIf="device.isDeviceGroup">
        <div class="tab-content">
          <grouped-devices [deviceGroup]="device" (updateDevice)="getDevice($event)"></grouped-devices>
        </div>
      </mat-tab>-->

      <!-- Transducers Tab -->
      <mat-tab label="Transducers">
        <div class="tab-content">
          <device-transducers [device]="device" (updateDevice)="getDevice($event)"></device-transducers>
        </div>
      </mat-tab>

      <!-- Commands Tab -->
      <mat-tab label="Commands">
        <div class="tab-content">
          <device-commands [device]="device" (updateDevice)="getDevice($event)"></device-commands>
        </div>
      </mat-tab>

      <!-- Services Tab -->
      <mat-tab label="Services">
        <div class="tab-content">
          <device-services [device]="device" (updateDevice)="getDevice($event)"></device-services>
        </div>
      </mat-tab>

      <!-- Visualization Tab -->
      <mat-tab label="Visualization">
        <div class="tab-content">
          <device-visualization [device]="device" (updateDevice)="getDevice($event)"></device-visualization>
        </div>
      </mat-tab>

       <div *ngIf ="acl.writeAccess">
           <!-- Security Tab -->
          <mat-tab label="Security">
            <div class="tab-content">
              <device-acl [device]="device" (updateDevice)="getDevice($event)"></device-acl>
            </div>
          </mat-tab>
        </div>
    </mat-tab-group>

  </mat-card>
</div>
