@import '../../constants';
$row-height: 50px;
$black-text: #303132;

.device-info {
  .delete {
    font-family: "Avenir-Med", sans-serif;
    color: red;
    .button {
      background-color: white;
      //outline: 2px red !important;
      box-shadow: none;
    }
  }
  .save-template {
    font-family: "Avenir-Med", sans-serif;
    color: #8ab9d6;
    .button {
      background-color: white;
      box-shadow: none;
    }
  }

  p {
    font-family: "Avenir-Med", sans-serif;
  }
  md-card {
    background-color: white;
    box-shadow: none;
    md-tab-group {
      padding: 15px;
      font-family: "Avenir-Med", sans-serif;
      color: $black-text;
    }
    .tab-content {
      padding: 15px;
      font-family: "Avenir-Med", sans-serif;
    }
    .card-header {
      h2 {
        margin: 0;
        float: left;
        font-family: "Avenir-Heavy", sans-serif;
        color: $black-text;
      }
      button {
        float: right;
        margin-right: 10px;
        margin-left: 10px;
        font-family: "Avenir-Med", sans-serif;
      }
      margin-bottom: 60px;
    }
  }
  form {
    md-input-container {
      input {
        width: 350px;
        font-family: "Avenir-Med", sans-serif;
      }
    }
  }

  .table-header-transducer {
    height: $row-height;
    line-height: $row-height;
    hr {
      margin: 0;
    }
    div {
      width: 16%;
      float: left;
      color: #909090;
    }
    p {
      margin: 0;
      font-family: "Avenir-Med", sans-serif;
      color: $black-text;
    }
  }
  .table-header-command {
    height: $row-height;
    line-height: $row-height;
    hr {
      margin: 0;
    }
    div {
      width: 25%;
      float: left;
      color: #909090;
    }
    p {
      margin: 0;
      font-family: "Avenir-Med", sans-serif;
      color: $black-text;
    }
  }
  .table-header-service {
    height: $row-height;
    line-height: $row-height;
    hr {
      margin: 0;
    }
    div {
      width: 50%;
      float: left;
      color: #909090;
    }
    p {
      margin: 0;
      font-family: "Avenir-Med", sans-serif;
      color: $black-text;
    }
  }
  .transducer {
    height: $row-height;
    line-height: $row-height;
    border-bottom: solid 1px #909090;
    div {
      color: #606060;
      width: 16%;
      float: left;
    }
    p {
      margin: 0;
      font-family: "Avenir-Med", sans-serif;
      color: $black-text;
    }
  }
  .command {
    height: $row-height;
    line-height: $row-height;
    border-bottom: solid 1px #909090;
    div {
      color: #606060;
      width: 25%;
      float: left;
    }
    p {
      margin: 0;
      font-family: "Avenir-Med", sans-serif;
      color: $black-text;
    }
  }
  .service {
    height: $row-height;
    line-height: $row-height;
    border-bottom: solid 1px #909090;
    div {
      color: #606060;
      width: 50%;
      float: left;
    }
    p {
      margin: 0;
      font-family: "Avenir-Med", sans-serif;
      color: $black-text;
    }
  }
  .service:hover {
    background-color: #e3e3e3;
    cursor: pointer;
  }
}

