<div class="device-info">
  <md-card *ngIf="device">
    <div class="card-header">
      <h2>Device Information for {{ device.name }}</h2>
      <div class="save-template">
        <button md-raised-button (click)="saveTemplate()">Save as Template</button>
      </div>
      <div class="delete">
        <button md-raised-button (click)="deleteDevice()">Delete</button>
      </div>
    </div>
    <hr>
    <md-tab-group>

      <!-- Properties Tab -->
      <md-tab label="Properties">
        <div class="tab-content">
          <form>
            <div>
              <md-input-container>
                <input mdInput placeholder="Name" [(ngModel)]="device.name" name="device-name">
              </md-input-container>
            </div>
            <br>
            <div>
              <md-select placeholder="Device Type" [(ngModel)]="device.type" name="device-type">
                <md-option *ngFor="let deviceType of deviceTypes" [value]="deviceType">
                  {{ deviceType }}
                </md-option>
              </md-select>
            </div>
            <br>
            <div>
              <p>Enabled</p>
              <md-slide-toggle [(ngModel)]="device.enabled" name="device-enabled">True</md-slide-toggle>
            </div>
            <p>Protocol: {{ device.pubsub.protocol }}</p>
            <p>Endpoint: {{ device.pubsub.endpoint }}</p>
            <button md-raised-button (click)="updateDevice()">Update</button>
          </form>
        </div>
      </md-tab>

      <!-- Transducers Tab -->
      <md-tab label="Transducers">
        <div class="tab-content">
          <div class="table-header-transducer">
            <div><p>Name</p></div>
            <div><p>Unit</p></div>
            <div><p>Actuable</p></div>
            <!--<div><p>Add/Delete</p></div>-->
            <div><p>Edit</p></div>
            <br>
            <hr>
          </div>
          <div *ngFor="let transducer of device.transducers" class="transducer">
            <div><p>{{ transducer.name }}</p></div>
            <div><p>{{ transducer.unit }}</p></div>
            <div><p>{{ transducer.is_actuable }}</p></div>
            <!--<div><button md-raised-button color="warn" (click)="deleteTransducer(transducer._id, transducer.name)">Delete</button></div>-->
            <div><button md-icon-button (click)="deleteTransducer(transducer._id, transducer.name)">
              <md-icon >clear</md-icon>
            </button></div>
          </div>
          <div class="transducer">
            <div>
              <md-input-container>
                <input mdInput placeholder="Name" [(ngModel)]="t_name">
              </md-input-container>
            </div>
            <div>
              <md-input-container>
                <input mdInput placeholder="Unit" [(ngModel)]="t_unit">
              </md-input-container>
            </div>
            <div>
              <md-slide-toggle [(ngModel)]="t_actuable">{{ t_actuable }}</md-slide-toggle>
            </div>
            <div>
              <!--<button md-raised-button (click)="newTransducer()">Add</button>-->
              <div><button md-icon-button (click)="newTransducer()">
                <md-icon>add</md-icon>
              </button></div>
            </div>
          </div>
        </div>
      </md-tab>

      <!-- Commands Tab -->
      <md-tab label="Commands">
        <div class="tab-content">
          <div class="table-header-command">
            <div><p>Command</p></div>
            <div><p>Value</p></div>
            <div><p>Execute</p></div>
            <!--<div><p>Add/Delete</p></div>-->
            <div><p>Edit</p></div>
            <br>
            <hr>
          </div>
          <div *ngFor="let command of device.commands" class="command">
            <div><p>{{ command.name }}</p></div>
            <div><p>{{ command.value }}</p></div>
            <div><button md-raised-button (click)="execute(command)">Execute</button></div>
            <!--<div><button md-raised-button (click)="deleteCommand(command._id, command.name)" color="warn">Delete</button></div>-->
            <div><button md-icon-button (click)="deleteCommand(command._id, command.name)">
              <md-icon >clear</md-icon>
            </button></div>
          </div>
          <div class="command">
            <div>
              <md-input-container>
                <input mdInput placeholder="Name" [(ngModel)]="c_name">
              </md-input-container>
            </div>
            <div>
              <md-input-container>
                <input mdInput placeholder="Value" [(ngModel)]="c_value">
              </md-input-container>
            </div>
            <div>
              <md-select placeholder="Transducer" [(ngModel)]="c_transducer" name="transducer">
                <md-option *ngFor="let transducer of device.transducers" [value]="transducer">
                  {{ transducer.name }}
                </md-option>
              </md-select>
            </div>
            <div>
              <!--<button md-raised-button (click)="newCommand()">Add</button>-->
              <div><button md-icon-button (click)="newCommand()">
                <md-icon>add</md-icon>
              </button></div>
            </div>
          </div>
        </div>
      </md-tab>

      <!-- Services Tab -->
      <md-tab label="Services">
        <div class="tab-content">
          <div class="table-header-service">
            <div><p>Name</p></div>
            <div><p>Description</p></div>
            <br>
            <hr>
          </div>
          <div *ngFor="let service of services" class="service" (click)="toService(service._id)">
            <div><p>{{ service.name }}</p></div>
            <div><p>{{ service.description }}</p></div>
          </div>
          <div *ngIf="services.length == 0">
            <p>There are currently no linked services.</p>
          </div>
        </div>
      </md-tab>

    </md-tab-group>
  </md-card>
</div>
