<div class="device-template">
    <md-card *ngIf="template">
      <div class="card-header">
        <h2>Device Template {{ template.name }}</h2>
        <div class="new-template">
          <button md-raised-button (click)="newDevice()">New Device</button>
        </div>
        <div class="delete-button">
          <button md-raised-button (click)="deleteTemplate()">Delete</button>
        </div>
      </div>
      <hr>
      <h4>Description</h4>
      <p>{{ template.description }}</p>
    </md-card>
</div>
