<div class="new-device">
  <mat-card>
    <h2>Create New Device</h2>
    <h2 *ngIf="location"> for location {{ location.name }} </h2>
    <h2 *ngIf="template"> from template {{ template.name }} </h2>
    <hr>
    <form>
      <mat-checkbox [(ngModel)]="useTemplate" name="use-template">Use Template</mat-checkbox>
      <br><br>
      <!-- With Template -->
      <div *ngIf="useTemplate">
        <button mat-raised-button (click)="selectTemplate()">{{ template ? template.name : "Select Template" }}</button>
      </div>
      <!-- Without Template -->
      <div>
        <mat-form-field>
          <input matInput
                 placeholder="Device Name"
                 [(ngModel)]="name"
                 [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <!--<br>
        <br>
        <mat-select placeholder="Device Type" [(ngModel)]="selectedType" name="device-type">
          <mat-option *ngFor="let deviceType of deviceTypes" [value]="deviceType">
            {{ deviceType }}
          </mat-option>
        </mat-select>
        <br><br>-->
        <div>
          <p>Enabled
            <mat-slide-toggle [(ngModel)]="enabled" name="device-enabled">{{ enabled }}</mat-slide-toggle>
          </p>
        </div>
      </div>
      <br><br>
      <button mat-raised-button type="submit" (click)="add()">Add Device</button>
      <button mat-raised-button (click)="cancel()">Cancel</button>
    </form>
  </mat-card>
</div>
