$black-text: #303132;
.new-device {
  mat-card {
    box-shadow: none;
    h2 {
      display: inline;
      font-family: "Avenir-Med", sans-serif;
      color: $black-text;
    }
    hr {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}
