.select-template {
  padding: 15px;
  ng2-md-datatable-header {
    border-bottom: solid 1px #303030;
  }
  ng2-md-datatable-row {
    border-bottom: solid 1px #303030;
    transition-duration: 0.3s;
    cursor: pointer;
  }
  ng2-md-datatable-row:hover {
    background-color: #e3e3e3;
  }
  .search {
    h2 {
      float: left;
    }
    md-input-container {
      float: right;
    }
    md-icon {
      float: right;
      color: #909090;
      line-height: 55px;
    }
  }
}