<div class="user-devices" >
  <md-card>
    <div class="card-header">
      <h2>My Devices</h2>
      <button md-raised-button (click)="newDevice()">New Device</button>
    </div>
    <br>
    <div class="table-header">
      <div><p>Device Name</p></div>
      <div><p>Device Location</p></div>
    </div>
    <hr>
    <div *ngFor="let device of devices" class="devices" (click)="gotoDevice(device._id)">
      <div><p>{{ device.name }}</p></div>
      <div><a (click)="gotoLocation(device.location_id)">{{ device.location_id || "none" }}</a></div>
    </div>
    <div *ngIf="devices.length == 0">
      <p>Currently no devices to display.</p>
    </div>
  </md-card>
  
</div>