$dashboard-toolbar-color: #424242;
$background-color: #efefef;
$side-nav-color: #2c3e50;
$side-nav-width: 240px;
$toolbar-height: 64px;
$button-height: 40px;
$hover-color: #607d8b;

.dashboard {
  height: 100%;

  md-sidenav-container {
    padding-top: $toolbar-height;
    height: 100%;
    md-sidenav {
      width: $side-nav-width;
      background-color: $side-nav-color;
      padding-top: $toolbar-height;
      .sidenav-button {
        a {
          display: block;
          height: $button-height;
          width: $side-nav-width;
          text-decoration: none;
          color: $background-color;
          padding-left: 15px;
          border-bottom: solid 1px $hover-color;
          transition-duration: 0.3s;
          padding: 0;
          p {
            float: left;
            line-height: $button-height;
            padding: 0;
            margin: 0;
            margin-left: 15px;
          }
          md-icon {
            float: right;
            line-height: $button-height;
            margin-right: 15px;
          }
        }
        a:hover {
          background-color: $hover-color;
          transition-duration: 0.3s;
        }
      }
    }
  }

  md-toolbar {
    background-color: $dashboard-toolbar-color;
    color: $background-color;
    display: block;
    position: fixed;
    top:0;
    left: 0;
    z-index: 999;
    .toolbar-content {
      text-align: right;
      width: 100%;
    }
    md-icon {
      margin-right: 10px;
      cursor: pointer;
      transition-duration: 0.3s;
    }
    md-icon:hover {
      color: #909090;
      transition-duration: 0.3s;
    }
  }

  .page-content {
    padding: 15px;
  }

}