$dashboard-toolbar-color: #424242;
$background-color: #efefef;
$side-nav-color: #2c3e50;
$side-nav-width: 240px;

.dashboard {
  md-toolbar {
    background-color: $dashboard-toolbar-color;
    color: $background-color;
    position: fixed;
    top:0;
    left: 0;
    z-index: 999;
    .toolbar-content {
      text-align: right;
      width: 100%;
    }
  }
  .sidenav {
    position: fixed;
    width: $side-nav-width;
    height: 100vh;
    background-color: $side-nav-color;
    top:0;
    left: 0;
    z-index: 998;
    padding-top: 80px;
    color: $background-color;
  }
  .main-content {
    background-color: $background-color;
    margin:0;
    h1 {
        margin: 0;
    }
    .main-content-wrapper {
      padding-top: 80px;
      padding-left: $side-nav-width + 15px;
      padding-right: 15px;
      md-card {
        background-color: white;
        hr {
          margin: 0;
        }
        .table-header {
          height: 40px;
          line-height: 40px;
          div {
            width: 50%;
            float: left;
            color: #909090;
          }
          p {
            margin: 0;
          }
        }
        .devices {
          height: 40px;
          line-height: 40px;
          div {
            color: #606060;
            width: 50%;
            float: left;
          }
          p {
            margin: 0;
          }
        }
      }
    }
  }
}