<div class="dashboard">

  <!-- Dashboard Top Toolbar -->
  <md-toolbar>
    <md-icon (click)="sidenav.toggle()">menu</md-icon>
    <p>{{title}}</p>
    <div class="toolbar-content">
      {{username}}
    </div>
  </md-toolbar>

  <md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="true">
      <!-- sidenav content -->
      <!-- Sidenav Buttons -->
      <div class="sidenav-button">
        <a routerLink="/home"><p>Dashboard</p><md-icon>home</md-icon></a>
        <a routerLink="/home/devicetemplates"><p>Device Templates</p><md-icon>description</md-icon></a>
      </div>

      <!-- Location Tree -->
      <div *ngIf="rootLocation">
        <tree-node 
          [currentLocation]="rootLocation"
          (change)="deviceList($event)"
          (newLocationParent)="newLocation($event)"></tree-node>
      </div>
    </md-sidenav>
    <div class="page-content">
      <!-- Child Router -->
      <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>

</div>
