<div class="dashboard">

  <!-- Dashboard Top Toolbar -->
  <md-toolbar>
    {{title}} Dashboard
    <div class="toolbar-content">
      {{username}}
    </div>
  </md-toolbar>

  <!-- Dashboard Side Navigation bar -->
  <div class="sidenav">
    <div *ngIf="rootLocation">
      <tree-node 
        [currentLocation]="rootLocation"
        (change)="deviceList($event)"
        (newLocationParent)="newLocation($event)"></tree-node>
    </div>
  </div>

  <!-- Dashboard Main View -->
  <div class="main-content">
    <div class="main-content-wrapper">

      <!-- New Location -->
      <new-location [parent]="newLocationParent"></new-location>

      <!-- Child Router -->
      <router-outlet></router-outlet>

    </div>
  </div>

</div>
