$black-text: #303132;

.error {
  padding: 25px;
  margin: 0;
  border: 4px solid red;

  h3 {
    font-family: "Avenir-Heavy", sans-serif;
    color: red;
    text-align: center;
    font-variant: all-small-caps;
  }

  p {
    padding: 0;
    margin: 0;
    font-family: "Avenir-Med", sans-serif;
    color: $black-text;
  }

  mat-icon {
    position: relative;
    color: red;
  }
}
