<div class="properties">
  <h2>Service config for {{ source }}</h2>
  <ng2-md-datatable>    
    <tbody>
      <ng2-md-datatable-row *ngFor="let config of configRequired"> 
        <td> {{config.key_name}} : </td>
        <td>
          <md-input-container class="description">
            <textarea mdInput [(ngModel)]="config.value"></textarea>
            <md-hint>{{ config.key_description}}</md-hint>
          </md-input-container>
        </td>
      </ng2-md-datatable-row>
    </tbody>
    </ng2-md-datatable>
    <div class="buttons">
      <button md-raised-button (click)="save()">Save</button>
      <button md-raised-button (click)="cancel()">Cancel</button>
    </div>  
</div>