.properties {
  ng2-md-datatable-header {
    border-bottom: solid 1px #303030;
    font-weight: bold;
  }
  ng2-md-datatable-row {
    border-bottom: solid 1px #303030;
    td {
      vertical-align: middle;
    }
    md-icon {
      cursor: pointer;
      color: #909090;
      transition-duration: 0.2s;
    }
    md-icon:hover {
      color: #303030;
    }
  }    
  p {
    font-family: "Avenir-Med", sans-serif;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .buttons {
    margin-top: 20px;
  }
}