<div class="properties">
  <h2>Service config for {{ source }}</h2>
  <ng2-md-datatable>    
    <tbody>
      <ng2-md-datatable-row *ngFor="let cf of config"> 
        <td> {{cf.key}} : </td>
        <td>
          <md-input-container class="description">
            <textarea  mdInput [(ngModel)]="cf.value"></textarea>           
          </md-input-container>
        </td>
      </ng2-md-datatable-row>
    </tbody>
    </ng2-md-datatable>
    <div class="buttons">
      <button md-raised-button (click)="save()">Save</button>
      <button md-raised-button (click)="cancel()">Cancel</button>
    </div>  
</div>