<div class="properties">
  <h2>Service config for {{ source }}</h2>
  <table>
    <tbody>
    <tr *ngFor="let cf of config">
      <td> {{cf.key}} :</td>
      <td>
        <mat-form-field class="description">
          <textarea matInput [(ngModel)]="cf.value"></textarea>
        </mat-form-field>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="buttons">
    <button mat-raised-button (click)="save()">Save</button>
    <button mat-raised-button (click)="cancel()">Cancel</button>
  </div>
</div>
