.page-not-found {
    h1 {
        text-align: center;
        margin: 0;
        padding-top: 120px;
        vertical-align: middle;
    }
    .logo-image {
        height: 300px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        background-image: url("../../../assets/images/logo.png");
        background-repeat: no-repeat;
        background-size: cover;

    }
}