<div class="device-info">
  <md-card *ngIf="device">
    <h2>Device Information for {{ device.name }}</h2>
    <md-tab-group>

      <md-tab label="Properties">
        <div class="tab-content">
          <form>
            <div>
              <md-input-container>
                <input mdInput placeholder="Name" [(ngModel)]="device.name" name="device-name">
              </md-input-container>
            </div>
            <br>
            <div>
              <md-select placeholder="Device Type" [(ngModel)]="device.type" name="device-type">
                <md-option *ngFor="let deviceType of deviceTypes" [value]="deviceType">
                  {{ deviceType }}
                </md-option>
              </md-select>
            </div>
            <br>
            <div>
              <p>Enabled</p>
              <md-slide-toggle [(ngModel)]="device.enabled" name="device-enabled">True</md-slide-toggle>
            </div>
            <p>Protocol: {{ device.pubsub.protocol }}</p>
            <p>Endpoint: {{ device.pubsub.endpoint }}</p>
            <button md-raised-button (click)="updateDevice()">Update</button>
          </form>
        </div>
      </md-tab>

      <md-tab label="Transducers">
        <div class="tab-content">
          <div class="table-header">
            <div><p>Name</p></div>
            <div><p>Unit</p></div>
            <div><p>Actuable</p></div>
            <br>
            <hr>
          </div>
          <div *ngFor="let transducer of device.transducers" class="transducers">
            <div><p>{{ transducer.name }}</p></div>
            <div><p>{{ transducer.unit }}</p></div>
            <div><p>{{ transducer.is_actuable }}</p></div>
          </div>
        </div>
      </md-tab>

      <md-tab label="Commands">
        <div class="tab-content">
          <p>
            To be implemented.
          </p>
        </div>
      </md-tab>
      <md-tab label="Services">
        <div class="tab-content">
          <p>
            Add, update, delete.
          </p>
        </div>
      </md-tab>

    </md-tab-group>
  </md-card>
</div>
