@import '../constants';
$row-height: 50px;


.device-info {
  md-card {
    background-color: white;
    md-tab-group {
      padding: 15px;
    }
    .tab-content {
      padding: 15px;
    }
  }
  form {
    md-input-container {
      input {
        width: 350px;
      }
    }
  }

  .table-header-transducer {
    height: $row-height;
    line-height: $row-height;
    hr {
      margin: 0;
    }
    div {
      width: 25%;
      float: left;
      color: #909090;
    }
    p {
      margin: 0;
    }
  }
  .table-header-device {
    height: $row-height;
    line-height: $row-height;
    hr {
      margin: 0;
    }
    div {
      width: 50%;
      float: left;
      color: #909090;
    }
    p {
      margin: 0;
    }
  }
  .transducer {
    height: $row-height;
    line-height: $row-height;
    border-bottom: solid 1px #909090;
    div {
      color: #606060;
      width: 25%;
      float: left;
    }
    p {
      margin: 0;
    }
  }
  .device {
    height: $row-height;
    line-height: $row-height;
    border-bottom: solid 1px #909090;
    div {
      color: #606060;
      width: 50%;
      float: left;
    }
    p {
      margin: 0;
    }
  }
}
