<div class="device-info">
  <md-card *ngIf="device">
    <h2>Device Information for {{ device.name }}</h2>
    <md-tab-group>
      <md-tab label="Properties">
        <div class="tab-content">
          <form>
            <md-input-container>
              <input mdInput placeholder="Name" [(ngModel)]="device.name" name="device-name">
            </md-input-container>
            <br>
            <div>
              <p>Type (optional)</p>
              <input type="radio" name="device-type" value="LORA" [(ngModel)]="device.type"> LORA
              <input type="radio" name="device-type" value="TWIST" [(ngModel)]="device.type"> TWIST
              <input type="radio" name="device-type" value="FIREFLY" [(ngModel)]="device.type"> FIREFLY
              <input type="radio" name="device-type" value="BOSCH_XDK" [(ngModel)]="device.type">BOSCH_XDK        
            </div>
            <br>
            <div>
              <p>Enabled</p>
              <input type="radio" name="device-enabled" [value]="true" [(ngModel)]="device.enabled">True
              <input type="radio" name="device-enabled" [value]="false" [(ngModel)]="device.enabled">False
            </div>
            <br>
            <p>Protocol: {{ device.pubsub.protocol }}</p>
            <p>Endpoint: {{ device.pubsub.endpoint }}</p>
            <br>
            <p class="error-message">{{ errorMessage }}</p>
            <p class="success-message">{{ successMessage }}</p>
            <button md-raised-button (click)="updateDevice()">Update</button>
          </form>
          
        </div>
      </md-tab>
      <md-tab label="Transducers">
        <div class="tab-content">
          <div class="table-header">
            <div><p>Name</p></div>
            <div><p>Unit</p></div>
          </div>
          <div *ngFor="let transducer of device.transducers" class="transducers">
            <div><p>{{ transducer.name }}</p></div>
            <div><p>{{ transducer.unit }}</p></div>
          </div>
        </div>
      </md-tab>
      <md-tab label="Commands">
        <div class="tab-content">
          <p>
            To be implemented.
          </p>
        </div>
      </md-tab>
      <md-tab label="Services">
        <div class="tab-content">
          <p>
            Add, update, delete.
          </p>
        </div>
      </md-tab>
    </md-tab-group>
  </md-card>
</div>