<div class="new-device">
  <md-card *ngIf="location">
    <h2>Create New Device for {{ location.name }}</h2>
    <hr>
    <form>
      <md-checkbox [(ngModel)]="useTemplate" name="use-template">Use Template</md-checkbox>
      <br><br>
      <!-- With Template -->
      <div *ngIf="useTemplate">
        <md-select placeholder="Select Template" [(ngModel)]="templateid" name="template">
          <md-option *ngFor="let template of templates" [value]="template.id">
            {{ template.name }}
          </md-option>
        </md-select>
      </div>
      <!-- Without Template -->
      <div>
        <md-input-container>
          <input mdInput 
                placeholder="Device Name" 
                [(ngModel)]="name" 
                [ngModelOptions]="{standalone: true}">
        </md-input-container>
        <br>
        <br>
        <md-select placeholder="Device Type" [(ngModel)]="type" name="device-type">
          <md-option *ngFor="let deviceType of deviceTypes" [value]="deviceType">
            {{ deviceType }}
          </md-option>
        </md-select>
        <br><br>
        <div>
          <p>Enabled</p>
          <md-slide-toggle [(ngModel)]="enabled" name="device-enabled">{{ enabled }}</md-slide-toggle>
        </div>
      </div>
      <br><br>
      <button md-raised-button type="submit" (click)="add()">Add Device</button>
      <button md-raised-button (click)="cancel()">Cancel</button>
    </form>
  </md-card>
</div>